{{ define "content" }}

<!-- <style>
    td,
    th {
        padding: 5px;
        text-align: center;
    }
</style> -->

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <form action="" method="">
                <div class="row justify-content-center">

                    <div class="row col-lg-3 col-sm-6">

                        <div class="col-lg-6 col-sm-4">
                            <label for="select">Select</label>
                            <select name="select" id="select" class="form-select">
                                <option></option>
                                <option>Username</option>
                                <option>Channel</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-sm-4">
                            <label for="inputtxt">Input</label>
                            <input type="text" name="inputtxt" id="inputtxt" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <label for="startDate">From</label>
                        <input name="from" id="startDate" class="form-control" type="date" min="2023-01-01"
                            max="2030-12-31" />
                        <span id="startDateSelected"></span>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <label for="endDate">To</label>
                        <input name="to" id="endDate" class="form-control" type="date" min="2023-01-01"
                            max="2030-12-31" />
                        <span id="endDateSelected"></span>

                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <label for="Ok" class=""></label>
                        <button type="submit" id="Ok" class="btn btn-warning form-control">Submit</button>
                    </div>
                </div>
            </form>


            <nav class="app-pagination mt-5">

                <table class="table stable-success table-hover table-bordered ">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th scope="col">Date</th>
                            <th scope="col">Username</th>
                            <th scope="col">Channel</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
            
                        {{ range .logall }}

                        <tr>
                            <td>{{ .UpdatedAt.Format "2 Jan 2006 15:04" }}</td>
                            <td>{{ .UserId }}</td>
                            <td>{{ .Channel }}</td>
                            <td>{{ .Price }}</td>
                        </tr>

                        {{ end }}

                        <tr>
                            <td colspan="3">รวม</td>
                            <td>{{ .priceall }} THB</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="table-active text-start">ผลลัพธ์ทั้งหมด: {{ len .logall }} Row</td>
                        </tr>

                    </tbody>

                </table>

                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>

{{ end }}