<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{$.title}}</title>

	<!-- css -->
	<link rel="stylesheet" href="/dist/output.css">

	<!-- Fount -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@300&display=swap" rel="stylesheet">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />

</head>

<body class="bg-[url('{{ .bg }}')] bg-top bg-no-repeat bg-black">

	{{ template "top" . }}
	{{ template "content" . }}
	{{ template "bottom" . }}




	<script>
		var nav = document.querySelector(".nav-links")
		function onToggleMenu(e) {
			nav.classList.toggle('top-[106px]');
		}


		var nav1 = document.querySelector(".popup-links")
		function onTogglePopup(e) {
			nav1.classList.remove('hidden');
			nav1.classList.add('flex');
		}

		// 

		var map_monter1 = document.querySelector(".map-links");
		var map_monter2 = document.querySelector(".monter-links");
		function onToggleMap(e) {

			map_monter2.classList.remove('flex');
			map_monter2.classList.add('hidden');

			map_monter1.classList.remove('hidden');
			map_monter1.classList.add('flex');

		}

		function onToggleMonter(e) {

			map_monter1.classList.remove('flex');
			map_monter1.classList.add('hidden');

			map_monter2.classList.remove('hidden');
			map_monter2.classList.add('flex');

		}

	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

</body>

</html>