{{ define "bottom" }}

<!-- footer -->
<footer id="Community" class="h-[433px] bg-black overflow-hidden">

    <div class="py-5">

        <div class="flex justify-center items-center gap-3 text-center">
            <img src="/public/data/img/footer-l1.png" alt="">
            <p class="text-white text-3xl font-extrabold">Community/ชุมชน</p>
            <img src="/public/data/img/footer-l1.png" alt="">
        </div>

        <ul class="flex justify-center gap-3 m-5">
            <li><a target="_blank" href="https://bit.ly/3KPa24Z"><img src="/public/data/img/c-f.png" alt=""></a></li>
            <li><a target="_blank" href="https://bit.ly/3kF1Rh7"><img src="/public/data/img/c-instar.png" alt=""></a></li>
            <li><a target="_blank" href="https://bit.ly/3EOIg4X"><img src="/public/data/img/c-tw.png" alt=""></a></li>
            <li><a target="_blank" href="https://bit.ly/3mniBty"><img src="/public/data/img/c-tok.png" alt=""></a></li>
            <li><a target="_blank" href="https://bit.ly/3J5OcZR"><img src="/public/data/img/c-you.png" alt=""></a></li>
            <!-- <li><a href=""><img src="/public/data/img/c-dis.png" alt=""></a></li> -->
            <li><a target="_blank" href="https://bit.ly/3JChxex"><img src="/public/data/img/c-line.png" alt=""></a></li>

        </ul>

        <div class="w-fit mx-auto text-white">
            <img src="/public/data/img/footer-l2.png" alt="">
        </div>

        <div class="w-fit mx-auto text-white pt-3">
            <p>Republic of Legend Co., Ltd. (ROL). All Rights Reserved</p>
        </div>

        <div class="w-fit mx-auto text-white pt-3">
            <img src="/public/data/img/rol.png" alt="">

        </div>

        <div class="w-fit mx-auto text-white pt-3">
            <p><a class="underline" href="/privacypolicy">Privacy Policy</a> and <a class="underline" href="/service">Service
                    Agreement</a></p>
        </div>


    </div>

</footer>

{{ end }}