{{ define "bottom" }}
  <!-- START: Footer -->
  <footer class="nk-footer">

    <div class="container">
        <div class="nk-gap-3"></div>
        <div class="row vertical-gap">

            <div class="col-md-6">
                <div class="nk-widget">



                    <div class="nk-widget-content p-md-4">
                        <div class="row vertical-gap sm-gap">
                            <img src="/public/data/รวมไฟล์ 2D by มีน/LOGO Age of Khagan/Logo Age of Khagan.png" alt="AOK"
                                width="150">
                        </div>


                        ©2023 Republic Of Legend (Thailand) Co., Ltd. Published by Poros Interactive All
                        rights reserved.

                    </div>



                </div>
            </div>
        </div>
        <div class="nk-gap-3"></div>
    </div>

    <div class="nk-copyright">
        <div class="container">
            <div class="nk-copyright-left">
                <a target="_blank" href="/privacypolicy">Privacy Policy</a>
                <span>|</span>
                <a target="_blank" href="/service">Terms Of Services</a>


                
            </div>

            <div class="nk-copyright-right">
                <img src="/public/data/รวมไฟล์ 2D by มีน/LOGO Age of Khagan/Logo_sm.png" alt="" width="100px">
            </div>

            <div class="nk-copyright-right">
                <ul class="nk-social-links-2">

                    <li><a class="nk-social-facebook" href="https://www.facebook.com/ageofkhaganthailand"><span
                                class="fab fa-facebook"></span></a></li>
                    <li><a class="nk-social-instagram" href="https://www.instagram.com/ageofkhaganthailand/"><span
                                class="fab fa-instagram"></span></a></li>
                    <li><a class="nk-social-twitter" href="https://twitter.com/ageofkhaganth" target="_blank"><span
                                class="fab fa-twitter"></span></a></li>
                    <li><a class="nk-social-youtube"
                            href="https://www.youtube.com/@ageofkhaganthailand/videos"><span
                                class="fab fa-youtube"></span></a></li>
                    <li><a class="nk-social-skype"
                            href="https://www.tiktok.com/@ageofkhaganthailand?lang=th-TH"><span
                                class="fab fa-skype"></span></a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->
<!-- END: test -->
{{ end }}