{{ define "content" }}

<nav class="bg-[url('/public/data/img/CLASS_BG.png')] bg-top bg-repeat-y bg-black">
    <div id="" class="bg-black relative">
        <div class="w-[80%] mx-auto flex justify-center">


            <div id="class1" class="relative flex justify-center" onclick="onTogglePopup1(this)">

                <img class="opacity-80 hover:opacity-[1] duration-200" src="/public/data/img/class1.png" alt="">
                <img class="absolute top-[70%] pb-6" src="/public/data/img/KNIGHT_CLASS.png" alt="">
                <p
                    class="hidden lg:block absolute top-[85%] text-main font-extrabold md:text-[30px] text-[20px] text-center">
                    KNIGHT
                    <br> <span class="text-[20px]">ไนท์</span>
                </p>


            </div>

            <div id="class2" class="relative flex justify-center" onclick="onTogglePopup2(this)">
                <img class="opacity-80 hover:opacity-[1] duration-200" src="/public/data/img/class2.png" alt="">
                <img class="absolute top-[70%] pb-6" src="/public/data/img/NECROMANCER_CLASS.png" alt="">
                <p
                    class="hidden lg:block absolute top-[85%] text-main font-extrabold md:text-[30px] text-[20px] text-center">
                    NECROMANCER
                    <br> <span class="text-[20px]">เนโครแมนเซอร์</span>
                </p>
            </div>

            <div id="class3" class="relative flex justify-center" onclick="onTogglePopup3(this)">
                <img class="opacity-80 hover:opacity-[1] duration-200" src="/public/data/img/class3.png" alt="">
                <img class="absolute top-[70%] pb-6" src="/public/data/img/MICKO_CLASS.png" alt="">
                <p
                    class="hidden lg:block absolute top-[85%] text-main font-extrabold md:text-[30px] text-[20px] text-center">
                    MICKO
                    <br> <span class="text-[20px]">มิโกะ</span>
                </p>

            </div>

            <div id="class4" class="relative flex justify-center" onclick="onTogglePopup4(this)">
                <img class="opacity-80 hover:opacity-[1] duration-200" src="/public/data/img/class4.png" alt="">
                <img class="absolute top-[70%] pb-6" src="/public/data/img/CLERIC_CLASS.png" alt="">
                <p
                    class="hidden lg:block absolute top-[85%] text-main font-extrabold md:text-[30px] text-[20px] text-center">
                    CLERIC
                    <br> <span class="text-[20px]">เคลอริค</span>
                </p>

            </div>

            <div id="class5" class="relative flex justify-center" onclick="onTogglePopup5(this)">
                <img class="opacity-80 hover:opacity-[1] duration-200" src="/public/data/img/class5.png" alt="">
                <img class="absolute top-[70%] pb-6" src="/public/data/img/SORCERER_CLASS.png" alt="">
                <p
                    class="hidden lg:block absolute top-[85%] text-main font-extrabold md:text-[30px] text-[20px] text-center">
                    SORCERER
                    <br> <span class="text-[20px]">ซอเซอเรอร์</span>
                </p>

            </div>

            <div id="class6" class="relative flex justify-center" onclick="onTogglePopup6(this)">
                <img class="opacity-80 hover:opacity-[1] duration-200" src="/public/data/img/class6.png" alt="">
                <img class="absolute top-[70%] pb-6" src="/public/data/img/ASSASSIN_CLASS.png" alt="">
                <p
                    class="hidden lg:block absolute top-[85%] text-main font-extrabold md:text-[30px] text-[20px] text-center">
                    ASSASSIN
                    <br> <span class="text-[20px]">แอสซาซิน</span>
                </p>


            </div>


        </div>

        <div id="popup1"
            class="popup-links w-full h-full absolute hidden justify-center top-0 items-center duration-500">

            <div
                class="h-[945px] w-[833px] bg-[url('/public/data/img/PAPER-BG.png')] bg-center bg-no-repeat md:bg-contain bg-cover rounded-xl flex justify-center">

                <div class="mt-[50%] md:mt-[22%] w-[70%] h-[60%]">

                    <div class="flex items-center h-full">

                        <div class="w-[30%] flex justify-center">
                            <img id="img-class" class="w-[500px] rounded-2xl shadow-lg shadow-orange-600"
                                src="/public/data/img/ไนท์.png" alt="">
                        </div>

                        <div class="w-[70%] p-5">
                            <div class="">
                                Knight เป็นอัศวินแนวหน้าผู้ครอบครองชัยชนะของสงคราม และไม่เคยพ่ายแพ้ในสนามรบ
                                เขาใช้ร่างกายที่แข็งแกร่งทะลวงกองทัพศัตรูจนแตกพ่าย
                                เขาใช้อาวุธโจมตีระยะประชิดได้อย่างเชียวชาญและหลากหลาย
                            </div>
                        
                            <a class="flex justify-center mt-[10%]" href="">
                                <img class="md:w-[50%]" src="/public/data/img/close-btn.png" alt="">
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div id="popup2"
            class="popup-links w-full h-full absolute hidden justify-center top-0 items-center duration-500">

            <div
                class="h-[945px] w-[833px] bg-[url('/public/data/img/PAPER-BG.png')] bg-center bg-no-repeat md:bg-contain bg-cover rounded-xl flex justify-center">

                <div class="mt-[50%] md:mt-[22%] w-[70%] h-[60%]">

                    <div class="flex items-center h-full">

                        <div class="w-[30%] flex justify-center">
                            <img id="img-class" class="w-[500px] rounded-2xl shadow-lg shadow-orange-600"
                                src="/public/data/img/มิ.png" alt="">
                        </div>

                        <div class="w-[70%] p-5">
                            <div class="">
                                Micko จากเด็กสาวธรรมดา สู่ผู้ปกปักรักษาพื้นที่ป่าไม้และธรรมชาติ
                                ในอดีตเธออาศัยในผืนป่าและใช้ชีวิตอย่างยากลำบาก แต่หลังเหตุการณ์สำคัญที่ต้นไม้ใหญ่
                                ทำให้เธอได้รับพลังมนตราแห่งการปกปักรักษาอันแท้จริง
                                แต่ฝีมือการใช้ธนูของเธอก็ไม่เคยตกลงเลย
                            </div>

                            <a class="flex justify-center mt-[10%]" href="">
                                <img class="md:w-[50%]" src="/public/data/img/close-btn.png" alt="">
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div id="popup3"
            class="popup-links w-full h-full absolute hidden justify-center top-0 items-center duration-500">

            <div
                class="h-[945px] w-[833px] bg-[url('/public/data/img/PAPER-BG.png')] bg-center bg-no-repeat md:bg-contain bg-cover rounded-xl flex justify-center">

                <div class="mt-[50%] md:mt-[22%] w-[70%] h-[60%]">

                    <div class="flex items-center h-full">

                        <div class="w-[30%] flex justify-center">
                            <img id="img-class" class="w-[500px] rounded-2xl shadow-lg shadow-orange-600"
                                src="/public/data/img/เน.png" alt="">
                        </div>

                        <div class="w-[70%] p-5">
                            <div class="">
                                Necromancer เป็นจอมขมังเวทผู้สร้างตำราแห่งสัตว์วิเศษ
                                เธอสืบทอดวิชาจากครอบครัวของเธอที่ถูกปกปิดเรื่องราวไว้เป็นความลับเสมอมา
                                สัตว์วิเศษมีรูปร่างเหมือนสัตว์โลกทั่วไป
                                แต่สิ่งที่แตกต่างคือสัตว์วิเศษเลือกที่จะติดตามแต่เธอเพียงผู้เดียว
                            </div>

                            <a class="flex justify-center mt-[10%]" href="">
                                <img class="md:w-[50%]" src="/public/data/img/close-btn.png" alt="">
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div id="popup4"
            class="popup-links w-full h-full absolute hidden justify-center top-0 items-center duration-500">

            <div
                class="h-[945px] w-[833px] bg-[url('/public/data/img/PAPER-BG.png')] bg-center bg-no-repeat md:bg-contain bg-cover rounded-xl flex justify-center">

                <div class="mt-[50%] md:mt-[22%] w-[70%] h-[60%]">

                    <div class="flex items-center h-full">

                        <div class="w-[30%] flex justify-center">
                            <img id="img-class" class="w-[500px] rounded-2xl shadow-lg shadow-orange-600"
                                src="/public/data/img/คลี.png" alt="">
                        </div>

                        <div class="w-[70%] p-5">
                            <div class="">
                                Cleric จากครอบครัวบูชาปีศาจ สู่การเป็นนักบวชโดยบริบูรณ์
                                หลังจากการต่อสู้กับพลังมืดในจินตนาการของเธอ เธอจึงค้นพบพลังแห่งจิตวิญญาณที่แท้จริง
                                เธอนำมาใช้ปกป้องผู้คนด้วยความบังเอิญ
                                ทำให้เธอมีชื่อเสียงและเป็นบุคคลสำคัญอยู่ในโลกแห่งความจริง สาวน้อยผู้ปกป้อง
                                หากอยู่ใกล้เธอคุณจะไม่เป็นอันตรายจากสิ่งรอบตัว
                            </div>

                            <a class="flex justify-center mt-[10%]" href="">
                                <img class="md:w-[50%]" src="/public/data/img/close-btn.png" alt="">
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div id="popup5"
            class="popup-links w-full h-full absolute hidden justify-center top-0 items-center duration-500">

            <div
                class="h-[945px] w-[833px] bg-[url('/public/data/img/PAPER-BG.png')] bg-center bg-no-repeat md:bg-contain bg-cover rounded-xl flex justify-center">

                <div class="mt-[50%] md:mt-[22%] w-[70%] h-[60%]">

                    <div class="flex items-center h-full">

                        <div class="w-[30%] flex justify-center">
                            <img id="img-class" class="w-[500px] rounded-2xl shadow-lg shadow-orange-600"
                                src="/public/data/img/ซอ.png" alt="">
                        </div>

                        <div class="w-[70%] p-5">
                            <div class="">
                                Sorcerer เป็นจอมขมังเวทผู้ปราดเปรื่องสุดแข็งแกร่ง หลังบรรลุวิชาขั้นสุดแห่งน้ำและไฟ
                                เมื่อจินตนาการถึงจักรวาลเขาจึงค้นพบพลังเวทที่พรั่งพรูเท่าที่โลกจะมีได้
                                โดยเฉพาะพลังแห่งการ Teleport ที่เขาใช้มันเพื่อภารกิจสำคัญ
                            </div>

                            <a class="flex justify-center mt-[10%]" href="">
                                <img class="md:w-[50%]" src="/public/data/img/close-btn.png" alt="">
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div id="popup6"
            class="popup-links w-full h-full absolute hidden justify-center top-0 items-center duration-500">

            <div
                class="h-[945px] w-[833px] bg-[url('/public/data/img/PAPER-BG.png')] bg-center bg-no-repeat md:bg-contain bg-cover rounded-xl flex justify-center">

                <div class="mt-[50%] md:mt-[22%] w-[70%] h-[60%]">

                    <div class="flex items-center h-full">

                        <div class="w-[30%] flex justify-center">
                            <img id="img-class" class="w-[500px] rounded-2xl shadow-lg shadow-orange-600"
                                src="/public/data/img/แอส.png" alt="">
                        </div>

                        <div class="w-[70%] p-5">
                            <div class="">
                                Assassin นักฆ่าในตำนาน ผู้ไม่เคยยอมให้คำพูดของใครอยู่เหนือความสามารถของเธอ
                                เธอใช้เวลาเพียงเสี้ยววินาทีเพื่อปลิดชีพศัตรู เธอไม่เคยทำตามคำสั่งของใคร เธอถนัด Dagger
                                เป็นที่สุด หากคุณเห็นเธอ คุณจะไม่เป็นอันตราย แต่หากเธอหายไป จงระวังไว้ให้ดี
                            </div>

                            <a class="flex justify-center mt-[10%]" href="">
                                <img class="md:w-[50%]" src="/public/data/img/close-btn.png" alt="">
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>

</nav>






{{ end }}