{{ define "content" }}

<!--  -->

<div class="container p-10">

    <section>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-5 text-center">



                <div class="avatar mx-auto pt-5">
                    <img src="{{.imgsrc}}" class="img-fluid" width="50%" />
                </div>
                <div class="nk-gap"></div>

                <h4 class="mb-4 text-main-4">{{ .name }}</h4>
                <div class="nk-gap"></div>

                {{ if eq .status "false"}}

                <form action="/auth/customregis">
                    <!-- Email input -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control text-black" id="email" name="email" value=""
                            placeholder="E-Mail">
                    </div>
                    <!-- ID input -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control text-black" id="username" name="username" value=""
                            placeholder="Username" minlength="6" maxlength="32">
                    </div>
                    <!-- Password -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control text-black" id="password" name="password"
                            placeholder="Password" required minlength="6" maxlength="32">
                    </div>
                    <!-- Re-Password -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control text-black" id="repassword" name="repassword"
                            placeholder="Re-Password" required minlength="6" maxlength="32">
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-3">Sign Up</button>
                    <div class="nk-gap-1"></div>
                </form>
                {{ else }}

                <form action="/" method="get">
                    <button type="submit" class="btn btn-primary btn-block mb-3">Home</button>
                    <div class="nk-gap-1"></div>
                </form>

                {{ end }}



            </div>
        </div>
    </section>

</div>


{{ end }}