{{ define "content" }}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container-1 {
        height: auto;
        padding-top: 10px;
        background-image: url("/public/data/BG/contentBlock-bg.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-attachment: fixed; */

    }

    .map-info {
        margin-top: 6rem;
        text-align: center;
    }

    .map-image img {
        border-radius: 15px;
        width: 45%;
    }

    .map-info p {
        margin-top: 3.5rem;
        color: gold;
        font-size: 2rem;
        background: coral;
        display: inline;
        border-radius: 10px;
        border: 1px solid #ff9500;
        padding: 5px;
        text-transform: uppercase;
    }

    .map-monter-grid {
        margin: 30px 0;
        padding: 0 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }

    .monter-item {
        text-align: center;
    }
    .monter-item img {
        border-radius: 10px;
        width: 75%;
    }
    .monter-item h5 {
        color: #af670ea4;
    }


    @media screen and (max-width:1000px) {
        .map-monter-grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width:560px) {
        .map-monter-grid{
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>


<div class="container">
    <div class="container-1">


        <div class="map-info">
            <div class="map-image">
                <img src="{{ .mapid }}" alt="Maps">
            </div>
            <div class="map-des">
                <p>{{ .mapName }}</p>
            </div>
        </div>

        <div class="map-monter-grid">

            {{ range .mapMonter}}
            <div class="monter-item">
                <img src="{{ . }}" alt="">
                <h5>
                    {{ getNameMonter .  }}
                </h5>
            </div>
            {{ end }}
           

        </div>

    </div>

</div>



{{ end }}