{{ define "content" }}

<!-- Home Page -->
<section class="bg-[url('/public/data/img/main-bg.png')] pb-20 bg-no-repeat bg-top bg-black">

    <div class="pt-10 flex flex-col items-center gap-y-4 text-center">
        <div>
            <h1 class="text-5xl uppercase font-black text-main">return of legend</h1>
        </div>

        <div class="max-w-[500px]">
            <img src="/public/data/img/NAV-BAR1.png" alt="">
        </div>

        <div class="">
            <img src="/public/data/img/AOK_LOGO_NAV-BAR1.png" alt="">
        </div>

        <div class="hidden md:block">
            <div class="flex flex-wrap gap-3 justify-center ">
                <a href="#"><img src="/public/data/img/GOOGLE-PLAYSTORE.png" alt="" width=""></a>
                <a href="#"><img src="/public/data/img/APP-STORE.png" alt="" width=""></a>
                <a href="#"><img src="/public/data/img/WINDOW.png" alt="" width=""></a>
            </div>
        </div>

        {{ if eq .user.Username "" }}
        <div class="md:flex">
            <a href="/register"><img src="/public/data/img/btn_register.png" alt="" width="310px"></a>
            <a href="/singin"><img src="/public/data/img/login-btn.png" alt="" width="310px"></a>
        </div>
        {{ end }}




    </div>
</section>

<!-- Ranking -->
<section id="Ranking" class="bg-[url('/public/data/img/bg-ranking.png')] bg-top bg-no-repeat bg-cover pb-10">

    {{ with .logsModel }}

 
    <form id="myRanking" action="#Ranking">

        <!-- select class -->
        <div class="slider relative">

            <div class="absolute w-full flex justify-center items-center top-[-20px] gap-2">
                <div>
                    <img src="/public/data/img/CAPA_ARROW_LEFT.png" alt="">

                </div>
                <img src="/public/data/img/capa.png" alt="">
                <div>
                    <img src="/public/data/img/CAPA_ARROW_RIGHT.png" alt="" width="25px">
                </div>
            </div>



            <input type="radio" name="jobclass" id="t-1" value="micko" {{ selectedradiocheck .QuerySearch "micko" }} onclick="myRanking()">
            <input type="radio" name="jobclass" id="t-2" value="necromancer" {{ selectedradiocheck .QuerySearch "necromancer" }} onclick="myRanking()">
            <input type="radio" name="jobclass" id="t-3" value="knight" {{ selectedradiocheck .QuerySearch "knight" }} onclick="myRanking()">
            <input type="radio" name="jobclass" id="t-4" value="allclass" {{ selectedradiocheck .QuerySearch "allclass" }} onclick="myRanking()">
            <input type="radio" name="jobclass" id="t-5" value="sorcerer" {{ selectedradiocheck .QuerySearch "sorcerer" }} onclick="myRanking()">
            <input type="radio" name="jobclass" id="t-6" value="assassin" {{ selectedradiocheck .QuerySearch "assassin" }} onclick="myRanking()">
            <input type="radio" name="jobclass" id="t-7" value="cleric" {{ selectedradiocheck .QuerySearch "cleric" }} onclick="myRanking()">



            <div class="testimonials">

                <!-- Micko -->
                

                <label class="item" for="t-1">
                        <div class="flex justify-center">
                            <img src="/public/data/img/MICKO_CLASS.png" alt="">
                        </div>
                        <div>
                            <p class="text-white">Micko</p>
                        </div>
                        <div>
                            <p class="text-white">มิโกะ</p>
                        </div>
                </label>

                <!-- Necromancer -->
                <label class="item" for="t-2">
                    <div class="flex justify-center">
                        <img src="/public/data/img/NECROMANCER_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Necromancer</p>
                    </div>
                    <div>
                        <p class="text-white">เนโครแมนเซอร์</p>
                    </div>
                </label>

                <!-- Knight -->
                <label class="item" for="t-3">
                    <div class="flex justify-center">
                        <img src="/public/data/img/KNIGHT_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Knight</p>
                    </div>
                    <div>
                        <p class="text-white">ไนท์</p>
                    </div>
                </label>

                <!-- All -->
                <label class="item" for="t-4">
                    <div class="flex justify-center">
                        <img src="/public/data/img/ALL_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">All</p>
                    </div>
                    <div>
                        <p class="text-white">รวม</p>
                    </div>
                </label>

                <!-- Sorcerer -->
                <label class="item" for="t-5">
                    <div class="flex justify-center">
                        <img src="/public/data/img/SORCERER_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Sorcerer</p>
                    </div>
                    <div>
                        <p class="text-white">ซอเซอะเรอะ</p>
                    </div>
                </label>

                <!-- Assassin -->
                <label class="item" for="t-6">
                    <div class="flex justify-center">
                        <img src="/public/data/img/ASSASSIN_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Assassin</p>
                    </div>
                    <div>
                        <p class="text-white">อะแซสซิน</p>
                    </div>
                </label>

                <!-- Cleric -->
                <label class="item" for="t-7">
                    <div class="flex justify-center">
                        <img src="/public/data/img/CLERIC_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Cleric</p>
                    </div>
                    <div>
                        <p class="text-white">เคลอริค</p>
                    </div>
                </label>

            </div>
        </div>

        <!-- Tabal Rankings -->
        <div class="w-[80%] mx-auto mt-[31px] bg-[#141414b3] rounded-md py-2">

            <!-- โครงสร้าง ตาราง -->
            <div class="p-5">
                <div class="flex justify-between items-center ">

                    <!-- Ranking/จัดอันดับ -->
                    <div>

                        <p class="text-[26px] text-main">Ranking/จัดอันดับ : All/รวม</p>
                        <div class="ranking-hi"></div>

                    </div>

                    <!-- Select Lists -->
                    <div>
                        <select class="px-[15px] py-[4px] rounded-md font-bold text-main border" name="qkeyword" onchange="myRanking()">

                            <option {{ selectedcheck .QueryKeyword "level" }} value="level">Level/ระดับ</option>
                            <option {{ selectedcheck .QueryKeyword "str" }} value="str">STR</option>
                            <option {{ selectedcheck .QueryKeyword "dex" }} value="dex">DEX</option>
                            <option {{ selectedcheck .QueryKeyword "con" }} value="con">CON</option>
                            <option {{ selectedcheck .QueryKeyword "int" }} value="int">INT</option>
                            <option {{ selectedcheck .QueryKeyword "wis" }} value="wis">WIS</option>
                            <option {{ selectedcheck .QueryKeyword "cha" }} value="cha">CHA</option>
                            <option {{ selectedcheck .QueryKeyword "faction" }} value="faction">FACTION</option>
                            <option {{ selectedcheck .QueryKeyword "hp" }} value="hp">HP</option>

                        </select>

                    </div>
                </div>
                <hr class="bg-[#5A5D61]">
            </div>

            <!-- หัวข้อตาราง -->
            <div class="maintabal text-main">
                <div class="chilltabal1">No. Player/ผู้เล่น</div>
                <div class="chilltabal2">Class/อาชีพ</div>
                <div class="chilltabal2">Guild/กิลด์</div>
                <div class="chilltabal2">ระดับ</div>
            </div>

    </form>


    {{ range $key, $value := $.logs }}

    {{ if eq $key 0 }}
    <div class="maintabal ranking-table">
        <div class="chilltabal1 gap-4">
            <p>{{ getRankingIndex $key }}</p>
            <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
            <p>{{ $value.Charactername }}</p>
        </div>
        <div class="chilltabal3">Knight</div>
        <div class="chilltabal3">Solomon</div>
        <div class="chilltabal3">{{ $value.Level }}</div>
    </div>
    {{ end }}

    {{ if eq $key 1 }}
    <div class="maintabal ranking-table-1">
        <div class="chilltabal1 gap-4">
            <p>{{ getRankingIndex $key }}</p>
            <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
            <p>{{ $value.Charactername }}</p>
        </div>
        <div class="chilltabal3">Knight</div>
        <div class="chilltabal3">Solomon</div>
        <div class="chilltabal3">{{ $value.Level }}</div>
    </div>
    {{ end }}

    {{ if eq $key 2 }}
    <div class="maintabal ranking-table-2">
        <div class="chilltabal1 gap-4">
            <p>{{ getRankingIndex $key }}</p>
            <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
            <p>{{ $value.Charactername }}</p>
        </div>
        <div class="chilltabal3">Knight</div>
        <div class="chilltabal3">Solomon</div>
        <div class="chilltabal3">{{ $value.Level }}</div>
    </div>

    <div class="hidden md:block">
        <img src="/public/data/img/NAV-BAR2.png" alt="" width="100%">
    </div>
    {{ end }}

    {{ if gt $key 2 }}
    <div class="maintabal ranking-table1">
        <div class="chilltabal1 gap-4">
            <p>{{ getRankingIndex $key }}</p>
            <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
            <p>{{ $value.Charactername }}</p>
        </div>
        <div class="chilltabal3">Knight</div>
        <div class="chilltabal3">Solomon</div>
        <div class="chilltabal3">{{ $value.Level }}</div>
    </div>
    {{ end }}

    {{ end }}


    {{ end }}

</section>

<!-- new ประกาศ -->
<section id="News" class="bg-[url('/public/data/img/NEW_BG.png')] bg-top bg-no-repeat bg-cover">


    <div class="block md:flex items-center justify-center gap-5 p-[100px]">

        <div class=" md:h-[570px] md:min-w-[570px] min-w-full md:flex block justify-center">
            <img src="/public/data/img/new-img.png" alt="">
        </div>

        <div class="h-[570px] md:min-w-[570px] min-w-full bg-[#141414D4] relative flex justify-center overflow-hidden">

            <div class="text-white h-full w-[80%] pt-5">
                <div class="text-2xl font-extrabold text-center">
                    News/ข่าวสาร
                </div>

                <div class="flex justify-center pt-5 gap-3 font-bold">

                    <a href="#" class="">
                        <div>All/ทั้งหมด <div class="ranking-hi"></div>
                        </div>
                    </a>
                    <a href="#" class="">
                        <div>Event/กิจกรรม</div>
                    </a>
                    <a href="#" class="">
                        <div>Other/อื่นๆ</div>
                    </a>

                </div>

                <hr>

                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>


                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>

                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>

                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>

                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>


            </div>

            <img src="/public/data/img/new-l-t.png" alt="" class="absolute left-0 top-0 hidden md:block">
            <img src="/public/data/img/new-l-b.png" alt="" class="absolute left-0 bottom-0  hidden md:block">
            <img src="/public/data/img/new-r-t.png" alt="" class="absolute right-0 top-0  hidden md:block">
            <img src="/public/data/img/new-r-b.png" alt="" class="absolute right-0 bottom-0  hidden md:block">
        </div>



    </div>

</section>

{{ end }}