{{ define "content" }}

<div class="nk-main">

    <div class="row vertical-gap-1">
        <div class="nk-gap-2"></div>
        <div class="container">

            <div class="nk-image-slider-item">
                <img src="/public/data/รวมไฟล์ 2D by มีน/LOGO Age of Khagan/1200628.png" alt=""
                    class="nk-image-slider-img" width="100%">
            </div>


            <!-- START: Categories -->
            <div class="nk-gap-1"></div>
            <div class="row vertical-gap">
                <div class="col-lg-4">
                    <div class="nk-feature-1">
                        <div class="nk-feature-icon">
                            <img src="/public/data/รวมไฟล์ 2D by มีน/LOGO Age of Khagan/windows.png" alt=""
                                width="50px">
                        </div>
                        <div class="nk-feature-cont">
                            <h3 class="nk-feature-title"><a href="download/Window">windows PC</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="nk-feature-1">
                        <div class="nk-feature-icon">
                            <img src="/public/data/รวมไฟล์ 2D by มีน/LOGO Age of Khagan/google-play.png" alt=""
                                width="55px">
                        </div>
                        <div class="nk-feature-cont">
                            <h3 class="nk-feature-title"><a href="download/Android">PlayStore </a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="nk-feature-1">
                        <div class="nk-feature-icon">
                            <img src="/public/data/รวมไฟล์ 2D by มีน/LOGO Age of Khagan/app-store.png" alt=""
                                width="50px">
                        </div>
                        <div class="nk-feature-cont">
                            <h3 class="nk-feature-title"><a href="download/App">app-store</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Categories -->


            <!-- START: Image Slider -->
            <div class="nk-gap-1"></div>
            <div class="nk-image-slider" data-autoplay="8000">
                <div class="nk-image-slider-item">
                    <img src="/public/data/รวมไฟล์ 2D by มีน/4k  background/BG1.png" alt="" class="nk-image-slider-img"
                        data-thumb="/public/data/รวมไฟล์ 2D by มีน/4k  background/BG1.png">
                    <!-- 
                    <div class="nk-image-slider-content">

                        <h3 class="h4">Necromancer</h3>
                        <p class="text-white">เป็นจอมขมังเวทผู้สร้างตำราแห่งสัตว์วิเศษ
                            เธอสืบทอดวิชาจากครอบครัวของเธอที่ถูกปกปิดเรื่องราวไว้เป็นความลับเสมอมา
                            สัตว์วิเศษมีรูปร่างเหมือนสัตว์โลกทั่วไป
                            แต่สิ่งที่แตกต่างคือสัตว์วิเศษเลือกที่จะติดตามแต่เธอเพียงผู้เดียว</p>
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Read
                            More</a>
                    </div> -->
                </div>

                <div class="nk-image-slider-item">
                    <img src="/public/data/รวมไฟล์ 2D by มีน/4k  background/BG2.png" alt="" class="nk-image-slider-img"
                        data-thumb="/public/data/รวมไฟล์ 2D by มีน/4k  background/BG2.png">
                    <!-- 
                    <div class="nk-image-slider-content">

                        <h3 class="h4">Sorcerer</h3>
                        <p class="text-white">เป็นจอมขมังเวทผู้ปราดเปรื่องสุดแข็งแกร่ง
                            หลังบรรลุวิชาขั้นสุดแห่งน้ำและไฟ
                            เมื่อจินตนาการถึงจักรวาลเขาจึงค้นพบพลังเวทที่พรั่งพรูเท่าที่โลกจะมีได้
                            โดยเฉพาะพลังแห่งการ Teleport ที่เขาใช้มันเพื่อภารกิจสำคัญ</p>
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Read
                            More</a>
                    </div> -->
                </div>

                <div class="nk-image-slider-item">
                    <img src="/public/data/รวมไฟล์ 2D by มีน/4k  background/BG3.png" alt="" class="nk-image-slider-img"
                        data-thumb="/public/data/รวมไฟล์ 2D by มีน/4k  background/BG3.png">

                    <!-- <div class="nk-image-slider-content">

                        <h3 class="h4">Knight</h3>
                        <p class="text-white">เป็นนักรบแนวหน้าผู้ครอบครองชัยชนะแห่งกองทัพ ไม่เคยพ่ายแพ้ในสนามรบ
                            เขาใช้ร่างกายที่แข็งแกร่งทะลวงกองทัพศัตรูจนแตกพ่าย
                            เขาใช้อาวุธสำหรับโจมตีประชิดได้อย่างหลากหลาย</p>
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Read
                            More</a>

                    </div> -->
                </div>

                <div class="nk-image-slider-item">
                    <img src="/public/data/รวมไฟล์ 2D by มีน/4k  background/BG4.png" alt="" class="nk-image-slider-img"
                        data-thumb="/public/data/รวมไฟล์ 2D by มีน/4k  background/BG4.png">

                    <!-- <div class="nk-image-slider-content">

                        <h3 class="h4">Cleric</h3>
                        <p class="text-white">จากครอบครัวบูชาปีศาจ สู่การเป็นนักบวชโดยบริบูรณ์
                            หลังจากการต่อสู้กับพลังมืดในจินตนาการของเธอ เธอจึงค้นพบพลังแห่งจิตวิญญาณที่แท้จริง
                            เธอนำมาใช้ปกป้องผู้คนด้วยความบังเอิญ
                            ทำให้เธอมีชื่อเสียงและเป็นบุคคลสำคัญอยู่ในโลกแห่งความจริง สาวน้อยผู้ปกป้อง
                            หากอยู่ใกล้เธอคุณจะไม่เป็นอันตรายจากสิ่งรอบตัว</p>
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Read
                            More</a>
                    </div> -->
                </div>

                <!-- <div class="nk-image-slider-item">
                    <img src="/public/data/รูปตัวละครเท่ๆ/image_1249_00011.png" alt="" class="nk-image-slider-img"
                        data-thumb="/public/data/รูปตัวละครเท่ๆ/image_1249_00011.png">

                    <div class="nk-image-slider-content">

                        <h3 class="h4">Assassin</h3>
                        <p class="text-white">นักฆ่าในตำนาน ผู้ไม่เคยยอมให้คำพูดของใครอยู่เหนือความสามารถของเธอ
                            เธอใช้เวลาเพียงเสี้ยวนาที เธอไม่เคยทำตามคำสั่งของใคร เธอถนัด Dagger เป็นที่สุด
                            หากคุณเห็นเธอ คุณจะไม่เป็นอันตราย แต่หากเธอหายไป จงระวังไว้ให้ดี</p>
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Read
                            More</a>
                    </div>
                </div>

                <div class="nk-image-slider-item">
                    <img src="/public/data/รูปตัวละครเท่ๆ/image_024_0004.jpg" alt="" class="nk-image-slider-img"
                        data-thumb="/public/data/รูปตัวละครเท่ๆ/image_024_0004.jpg">

                    <div class="nk-image-slider-content">

                        <h3 class="h4">Micko</h3>
                        <p class="text-white">จากเด็กสาวธรรมดา สู่ผู้ปกปักรักษาพื้นที่ป่าไม้และธรรมชาติ
                            ในอดีตเธออาศัยในผืนป่าและใช้ชีวิตอย่างยากลำบาก แต่หลังเหตุการณ์สำคัญที่ต้นไม้ใหญ่
                            ทำให้เธอได้รับพลังมนตราแห่งการปกปักรักษาอันแท้จริง
                            แต่ฝีมือการใช้ธนูของเธอก็ไม่เคยตกลงเลย</p>
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Read
                            More</a>
                    </div>
                </div> -->

            </div>
            <!-- END: Image Slider -->

            <div class="nk-gap-2"></div>

            <div class="">
                <div class="nk-widget nk-widget-highlighted">
                    <h4 class="nk-widget-title"><span><span class="text-main-1">Game</span> Video</span></h4>
                    <div class="nk-widget-content">
                        <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=P58RT7gvXdw">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
    </div>
</div>

{{ end }}