{{ define "content" }}

<!-- Home Page -->
<section class="bg-[url('/public/data/img/main-bg.png')] pb-20 bg-no-repeat bg-top bg-black">

    <div class="pt-10 flex flex-col items-center gap-y-4 text-center">
        <div>
            <h1 class="text-5xl uppercase font-black text-main">return of legend</h1>
        </div>

        <div class="max-w-[500px]">
            <img src="/public/data/img/NAV-BAR1.png" alt="">
        </div>

        <div class="">
            <img src="/public/data/img/AOK_LOGO_NAV-BAR1.png" alt="">
        </div>

        <div class="hidden md:block">
            <div class="flex flex-wrap gap-3 justify-center ">
                <a href="#"><img src="/public/data/img/GOOGLE-PLAYSTORE.png" alt="" width=""></a>
                <a href="#"><img src="/public/data/img/APP-STORE.png" alt="" width=""></a>
                <a href="#"><img src="/public/data/img/WINDOW.png" alt="" width=""></a>
            </div>
        </div>

        {{ if eq .user.Username "" }}
        <div class="md:flex">
            <a href="/register"><img src="/public/data/img/btn_register.png" alt="" width="310px"></a>
            <a href="/singin"><img src="/public/data/img/login-btn.png" alt="" width="310px"></a>
        </div>
        {{ end }}




    </div>
</section>

<!-- Ranking -->
<section id="Ranking" class="bg-[url('/public/data/img/bg-ranking.png')] bg-top bg-no-repeat bg-cover pb-10 overflow-hidden">

    <!-- select class -->
    <div class="bg-black h-[200px] flex justify-center">
        <div class="flex flex-1 items-center justify-between h-[200px]">

            <div class="flex mr-5 items-center justify-end w-full">

                <!-- class1 -->
                <div class="text-center opacity-40 mx-10">
                    <div>
                        <img src="/public/data/img/MICKO_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Micko</p>
                    </div>
                    <div>
                        <p class="text-white">นักธนู</p>
                    </div>
                </div>

                <!-- class1 -->
                <div class="text-center opacity-80 mx-10">
                    <div>
                        <img src="/public/data/img/NECROMANCER_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Necromancer</p>
                    </div>
                    <div>
                        <p class="text-white">นักเวทมืด</p>
                    </div>
                </div>

                <!-- class1 -->
                <div class="text-center mx-10">
                    <div>
                        <img src="/public/data/img/KNIGHT_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Knight</p>
                    </div>
                    <div>
                        <p class="text-white">อัศวิน</p>
                    </div>
                </div>

            </div>

            <div class="flex items-center justify-center w-[240px] gap-2">

                <div>
                    <img src="/public/data/img/CAPA_ARROW_LEFT.png" alt="caret left">
                </div>

                <div class="w-[240px]">
                    <img class="" src="/public/data/img/CAPA_CIRCLE.png" alt="all">
                </div>

                <div>
                    <img src="/public/data/img/CAPA_ARROW_RIGHT.png" alt="caret right">
                </div>

            </div>

            <div class="flex ml-5 items-center justify-start w-full">

                <!-- class1 -->
                <div class="text-center mx-10">
                    <div>
                        <img src="/public/data/img/SORCERER_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Sorcerer</p>
                    </div>
                    <div>
                        <p class="text-white">จอมเวทย์</p>
                    </div>
                </div>

                <!-- class1 -->
                <div class="text-center opacity-80 mx-10">
                    <div>
                        <img src="/public/data/img/ASSASSIN_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Assassin</p>
                    </div>
                    <div>
                        <p class="text-white">นักฆ่า</p>
                    </div>
                </div>

                <!-- class1 -->
                <div class="text-center opacity-40 mx-10">
                    <div>
                        <img src="/public/data/img/CLERIC_CLASS.png" alt="">
                    </div>
                    <div>
                        <p class="text-white">Cleric</p>
                    </div>
                    <div>
                        <p class="text-white">นักบวด</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Tabal Rankings -->
    <div class="w-[80%] mx-auto mt-[31px] bg-[#141414b3] rounded-md py-2">

        <!-- โครงสร้าง ตาราง -->
        <div class="p-5">
            <div class="flex justify-between items-center ">

                <!-- Ranking/จัดอันดับ -->
                <div>

                    <p class="text-[26px] text-main">Ranking/จัดอันดับ : All/รวม</p>
                    <div class="ranking-hi"></div>

                </div>

                <!-- Select Lists -->
                <div>
                    <select class="px-[15px] py-[4px] rounded-md font-bold text-main border" name="" id="">
                        <option value="volvo">Level/ระดับ</option>
                        <option value="str">STR</option>
                        <option value="dex">DEX</option>
                        <option value="con">CON</option>
                        <option value="int">INT</option>
                        <option value="wis">WIS</option>
                        <option value="cha">CHA</option>
                        <option value="faction">FACTION</option>
                        <option value="hp">HP</option>
                    </select>

                </div>
            </div>
            <hr class="bg-[#5A5D61]">
        </div>

        <!-- หัวข้อตาราง -->
        <div class="maintabal text-main">
            <div class="chilltabal1">No. Player/ผู้เล่น</div>
            <div class="chilltabal2">Class/อาชีพ</div>
            <div class="chilltabal2">Guild/กิลด์</div>
            <div class="chilltabal2">ระดับ</div>
        </div>

        {{ range $key, $value := .ranking }}
      

        {{ if eq $key 0 }}
        <div class="maintabal ranking-table">
            <div class="chilltabal1 gap-4">
                <p>{{ getRankingIndex $key }}</p>
                <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
                <p>{{ $value.Charactername }}</p>
            </div>
            <div class="chilltabal3">Knight</div>
            <div class="chilltabal3">Solomon</div>
            <div class="chilltabal3">{{ $value.Level }}</div>
        </div>
        {{ end }}

        {{ if eq $key 1 }}
        <div class="maintabal ranking-table-1">
            <div class="chilltabal1 gap-4">
                <p>{{ getRankingIndex $key }}</p>
                <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
                <p>{{ $value.Charactername }}</p>
            </div>
            <div class="chilltabal3">Knight</div>
            <div class="chilltabal3">Solomon</div>
            <div class="chilltabal3">{{ $value.Level }}</div>
        </div>
        {{ end }}

        {{ if eq $key 2 }}
        <div class="maintabal ranking-table-2">
            <div class="chilltabal1 gap-4">
                <p>{{ getRankingIndex $key }}</p>
                <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
                <p>{{ $value.Charactername }}</p>
            </div>
            <div class="chilltabal3">Knight</div>
            <div class="chilltabal3">Solomon</div>
            <div class="chilltabal3">{{ $value.Level }}</div>
        </div>

        <div class="hidden md:block">
            <img src="/public/data/img/NAV-BAR2.png" alt="" width="100%">
        </div>
        {{ end }}

        {{ if gt $key 2 }}
        <div class="maintabal ranking-table1">
            <div class="chilltabal1 gap-4">
                <p>{{ getRankingIndex $key }}</p>
                <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
                <p>{{ $value.Charactername }}</p>
            </div>
            <div class="chilltabal3">Knight</div>
            <div class="chilltabal3">Solomon</div>
            <div class="chilltabal3">{{ $value.Level }}</div>
        </div>
        {{ end }}

    

        {{ end }}

        <!-- ที่ 1 -->
        <!-- <div class="maintabal ranking-table">
            <div class="chilltabal1 gap-4">
                <p>1</p>
                <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
                <p>Cool Cyber Apes</p>
            </div>
            <div class="chilltabal3">Knight</div>
            <div class="chilltabal3">Solomon</div>
            <div class="chilltabal3">999</div>
        </div> -->

        <!-- ที่ 2 -->
        <!-- <div class="maintabal ranking-table-1">
            <div class="chilltabal1 gap-4">
                <p>2</p>
                <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
                <p>Shadow Cube</p>
            </div>
            <div class="chilltabal3">Necromancer</div>
            <div class="chilltabal3">-</div>
            <div class="chilltabal3">998</div>
        </div> -->

        <!-- ที่ 3 -->
        <!-- <div class="maintabal ranking-table-2">
            <div class="chilltabal1 gap-4">
                <p>3</p>
                <img class="rounded-full" src="/public/data/img/image 1.png" alt="">
                <p>Satoshi Mori</p>
            </div>
            <div class="chilltabal3">Necromancer</div>
            <div class="chilltabal3">KONTHAI</div>
            <div class="chilltabal3">997</div>
        </div>

        <div class="hidden md:block">
            <img src="/public/data/img/NAV-BAR2.png" alt="" width="100%">
        </div>

        <div class="maintabal ranking-table1"></div>
        <div class="maintabal ranking-table2"></div>
        <div class="maintabal ranking-table1"></div>
        <div class="maintabal ranking-table2"></div>
        <div class="maintabal ranking-table1"></div>
        <div class="maintabal ranking-table2"></div>
        <div class="maintabal ranking-table1"></div> -->

    </div>

</section>

<!-- new ประกาศ -->
<section id="News" class="bg-[url('/public/data/img/NEW_BG.png')] bg-top bg-no-repeat bg-cover">


    <div class="block md:flex items-center justify-center gap-5 p-[100px]">

        <div class=" md:h-[570px] md:min-w-[570px] min-w-full md:flex block justify-center">
            <img src="/public/data/img/new-img.png" alt="">
        </div>

        <div class="h-[570px] md:min-w-[570px] min-w-full bg-[#141414D4] relative flex justify-center overflow-hidden">

            <div class="text-white h-full w-[80%] pt-5">
                <div class="text-2xl font-extrabold text-center">
                    News/ข่าวสาร
                </div>

                <div class="flex justify-center pt-5 gap-3 font-bold">

                    <a href="#" class=""><div>All/ทั้งหมด <div class="ranking-hi"></div></div></a>
                    <a href="#" class=""><div>Event/กิจกรรม</div></a>
                    <a href="#" class=""><div>Other/อื่นๆ</div></a>
                    
                </div>

                <hr>

                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>


                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>

                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>

                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>

                <div class="m-3 hover:text-yellow-200">
                    <a href="/newpage" target="_blank">
                        <div class="flex items-center gap-2">
                            <div><img src="/public/data/img/new-paper.png" alt=""></div>
                            <div class="">
                                <p>26 April 2021
                                    <br>
                                    [ Event ] ประกาศอันดับคะแนนแต้มสำหรับการแข่งขัน Refinements Chal...
                                </p>
                            </div>
                            <div><img src="/public/data/img/ARROW-r.png" alt=""></div>
                        </div>
                    </a>
                    <hr>
                </div>


            </div>

            <img src="/public/data/img/new-l-t.png" alt="" class="absolute left-0 top-0 hidden md:block">
            <img src="/public/data/img/new-l-b.png" alt="" class="absolute left-0 bottom-0  hidden md:block">
            <img src="/public/data/img/new-r-t.png" alt="" class="absolute right-0 top-0  hidden md:block">
            <img src="/public/data/img/new-r-b.png" alt="" class="absolute right-0 bottom-0  hidden md:block">
        </div>



    </div>

</section>

{{ end }}