{{ define "content" }}


<nav class="bg-[url('/public/data/img/LOGIN-BG.png')] bg-top bg-no-repeat bg-black">


    <section class="flex justify-center">

        <div class="w-[94%] bg-[#1414147e] flex justify-center rounded-3xl">

            <div class="text-center">
                <div class=" flex justify-center">
                    <img src="/public/data/img/BG-Item.png" alt="">
                </div>

                <form id="idcodeItemsForm" action="/itemscode/check" method="post">
                    <input
                    class="sm:w-[50%] w-[90%] py-2 px-3 text-center text-xl rounded-3xl font-medium bg-[#dfb529d4] shadow-inner shadow-[#ffffffb5] my-5 text-white placeholder-black focus:placeholder-red-600"
                    type="text" name="idcode" id="" placeholder="ใส่ Code ที่นี่" required>
                    <br>
                    <button
                    class="bg-[url('/public/data/img/LOGOUT-BOTTON1.png')] bg-top w-[248px] h-[64px] m-5 font-semibold text-sky-900 text-xl"
                    type="submit">ยืนยัน</button>
                </form>
            </div>
        </div>






        </div>
    </section>

    <div class="pb-20"></div>
</nav>


{{ end }}