{{ define "content" }}


<nav class="bg-[url('/public/data/img/LOGIN-BG.png')] bg-top bg-repeat-y bg-black">

        <!-- แผ่นที่ -->
        <section class="flex justify-center map-links">

            <div class="w-[80%] bg-[#141414AB] mt-10 relative flex justify-center items-center">


                <div class="md:flex block flex-row gap-2">

                    <div
                        class="order-1 py-10 bg-[url('/public/data/img/PAPER-MAP.png')] bg-center bg-no-repeat bg-contain relative flex items-center">

                        <div class="py-10 flex flex-col items-center">

                            <p class="pb-3 font-bold text-[30px] md:text-[40px]">Wroclaw Fortress</p>


                            <div class="pb-1">
                                <button type="button"
                                    class="p-5 hover:font-bold text-[26px] border-b-2 border-black">Map</button>
                                <button type="button" class="p-5 hover:font-bold text-[26px]"
                                    onclick="onToggleMonter(this)">Monster</button>
                            </div>
                            <div class="relative md:w-[70%] w-[35%] pb-3">

                                <img src="/public/data/img/map_1.png" alt="">
                                
                    
                            </div>






                            <p class="font-bold text-center w-[50%]">เมือง Wroclaw Fortress
                                ศูนย์กลางการค้าขายและสถานที่เริ่มต้นการเดินทางของเหล่านักรบ เมืองเริ่มต้น Lv.1</p>
                        </div>
                    </div>


                    <div class="py-10">
                        <div class="flex flex-col gap-2">
                            <img class="rounded-xl" src="/public/data/img/map_1.png" alt="">
                            <img class="rounded-xl" src="/public/data/img/map_2.png" alt="">
                            <img class="rounded-xl" src="/public/data/img/map_3.png" alt="">
                        </div>
                    </div>







                </div>



                <img src="/public/data/img/new-l-t.png" alt="" class="hidden md:block absolute left-0 top-0 p-3">
                <img src="/public/data/img/new-l-b.png" alt="" class="hidden md:block absolute left-0 bottom-0 p-3">
                <img src="/public/data/img/new-r-t.png" alt="" class="hidden md:block absolute right-0 top-0 p-3">
                <img src="/public/data/img/new-r-b.png" alt="" class="hidden md:block absolute right-0 bottom-0 p-3">

            </div>
        </section>


        <!-- มอนเตอร์ -->
        <section class="hidden justify-center monter-links">

            <div class="w-[80%] bg-[#141414AB] mt-10 relative flex justify-center items-center">


                <div class="md:flex block flex-row gap-2">

                    <div
                        class="order-1 py-10 bg-[url('/public/data/img/PAPER-MAP.png')] bg-center bg-no-repeat bg-contain relative flex items-center">

                        <div class="py-10 flex flex-col items-center">

                            <p class="pb-3 font-bold text-[30px] md:text-[40px]">Monster Fortress</p>


                            <div class="pb-1">
                                <button type="button" class="p-5 hover:font-bold text-[26px]"
                                    onclick="onToggleMap(this)">Map</button>
                                <button type="button" class="p-5 hover:font-bold text-[26px] border-b-2 border-black">Monster</button>
                            </div>
                            <div class="relative md:w-[70%] w-[35%] pb-3">

                                <img src="/public/data/img/map_1_1.png" alt="">
                    
                            </div>






                            <p class="font-bold text-center w-[50%]">เมือง Wroclaw Fortress
                                ศูนย์กลางการค้าขายและสถานที่เริ่มต้นการเดินทางของเหล่านักรบ เมืองเริ่มต้น Lv.1</p>
                        </div>
                    </div>


                    <div class="py-10">
                        <div class="flex flex-col gap-2">
                            <img class="rounded-xl" src="/public/data/img/map_1_1.png" alt="">
                            <img class="rounded-xl" src="/public/data/img/map_2_2.png" alt="">
                            <img class="rounded-xl" src="/public/data/img/map_3_3.png" alt="">
                        </div>
                    </div>







                </div>



                <img src="/public/data/img/new-l-t.png" alt="" class="hidden md:block absolute left-0 top-0 p-3">
                <img src="/public/data/img/new-l-b.png" alt="" class="hidden md:block absolute left-0 bottom-0 p-3">
                <img src="/public/data/img/new-r-t.png" alt="" class="hidden md:block absolute right-0 top-0 p-3">
                <img src="/public/data/img/new-r-b.png" alt="" class="hidden md:block absolute right-0 bottom-0 p-3">

            </div>
        </section>

        <div class="pb-20"></div>




</nav>



{{ end }}