{{ define "content" }}



<style>
    .BG {
        background-image: url("/public/data/BG/contentBlock-bg.png");
        /* height: 100vh; */
        width: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;


        /* background-size: contain; */
    }
</style>
<div class="container BG ">

    <div class="row justify-content-center pt-40">

        <div class="col-4">
            <img src="/public/data/BG/Maps/Kharakorum.jpg" alt="" width="75%">

        </div>
        <div class="col-5">
            <h1 class="text-black">Kharakorum</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad laboriosam reiciendis possimus rerum?
                Obcaecati inventore aliquam animi reiciendis velit eveniet veniam quis iste consectetur, repudiandae
                illum nulla, aspernatur voluptates. Dolores?</p>
        </div>
    </div>

    <div class="row justify-content-center pt-40">

        <div class="col-9">
            <h4 class="text-black">NPCs</h4>
        </div>
        <div class="col-9">
            <div class="row justify-content-center">
                <div class="col-2">
                    <p>NPC1</p>
                </div>
                <div class="col-2">
                    <p>NPC2</p>
                </div>
                <div class="col-2">
                    <p>NPC3</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center pt-40">
        <div class="col-9">
            <h4 class="text-black">Monsters</h4>
        </div>
      
        <div class="col-9">
            <div class="row justify-content-center">
                <div class="col-2">
                    <p>รูป</p>
                </div>
                <div class="col-2">
                    <p>Level</p>
                </div>
                <div class="col-2">
                    <p>HP</p>
                </div>
                <div class="col-2">
                    <p>ค่าป้องกัน</p>
                </div>
                <div class="col-2">
                    <p>ค่าโจมตี</p>
                </div>
                <div class="col-2">
                    <p>ตำแหน่งที่เกิด</p>
                </div>
            </div>
        </div>


    </div>

</div>


{{ end }}