{{ define "content" }}


<section class="flex justify-center bg-[url('/public/data/img/NewPage-BG.png')]">
    <div
        class="h-[945px] w-[1233px] bg-[url('/public/data/img/PAPER-BG.png')] bg-center  mt-5 flex justify-center items-center">

        <div class="md:w-[70%] h-[70%] relative p-10">

            <!-- new 1 -->
            <div>
                <div class="text-center font-bold text-[26px]">
                    <p>News/ประกาศ</p>
                </div>
                <div>
                    <img src="/public/data/img/new-footer.png" alt="">
                </div>

                <div class="md:flex">
                    <div class="md:w-[383px] md:h-[470px] overflow-hidden flex items-center">
                        <img class="w-full"
                            src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t39.30808-6/340474568_171453662497782_8446932024103942613_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=tUvQU9aAeVkAX-l_kBO&_nc_ht=scontent.fbkk2-8.fna&oh=00_AfBldVrlZ2luMKFKXUSfery1ceftOBa4CqR77YUBmmWt4w&oe=6486124B"
                            alt="">
                    </div>
                    <div class="p-4 md:w-[383px] md:h-[470px] h-[300px] overflow-auto">
                        <p class="font-bold">[ Event ]</p>
                        <p class="font-normal text-[24px]">สถิติความนิยมในการเลือกอาชีพช่วง Closed Beta Test 10 เมษายน 2566</p>
                        <p class="md:flex">



                            📣สถิติความนิยมในการเลือกอาชีพช่วง Closed Beta Test(CBT) ที่ผ่านมา‼️
                            <br>
                            อันดับที่ 1 Micko [ 27.71% ]
                            <br>
                            อันดับที่ 2 Knight [ 23.15% ]
                            <br>
                            อันดับที่ 3 Sorcerer [ 16.87% ]
                            <br>
                            อันดับที่ 4 Cleric [ 13.74% ]
                            <br>
                            อันดับที่ 5 Necromancer [ 9.98% ]
                            <br>
                            อันดับที่ 6 Assassin [ 8.56% ]
                            <br>
                            💥Micko มาแรงกว่าทุกอาชีพจริง ๆ
                            <br>
                            มารอดูกันว่าช่วง OBT ความนิยมของแต่ละอาชีพจะยังคงเดิมหรือไม่
                            <br>
                        </p>
                    </div>
                </div>
            </div>

            <img src="/public/data/img/new-l-t.png" alt="" class="absolute left-0 top-0 p-3">
            <img src="/public/data/img/new-l-b.png" alt="" class="absolute left-0 bottom-0 p-3">
            <img src="/public/data/img/new-r-t.png" alt="" class="absolute right-0 top-0 p-3">
            <img src="/public/data/img/new-r-b.png" alt="" class="absolute right-0 bottom-0 p-3">
        </div>



    </div>
</section>



{{ end }}