{{ define "content" }}


<section class="flex justify-center bg-[url('/public/data/img/NewPage-BG.png')]">
    <div
        class="h-[945px] w-[1233px] bg-[url('/public/data/img/PAPER-BG.png')] bg-center  mt-5 flex justify-center items-center">

        <div class="md:w-[70%] h-[70%] relative p-10">

            <!-- new 1 -->
            <div>
                <div class="text-center font-bold text-[26px]">
                    <p>News/ประกาศ</p>
                </div>
                <div>
                    <img src="/public/data/img/new-footer.png" alt="">
                </div>
    
                <div class="md:flex">
                    <div class="md:w-[383px] md:h-[470px] overflow-hidden flex items-center">
                        <img class="w-full" src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t39.30808-6/349656733_1661429504302501_5511595261353388557_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=GkOkdmcOTcoAX_Uygvd&_nc_ht=scontent.fbkk2-6.fna&oh=00_AfBpmHo7De1crvhSaacrwIa2Tpodpl5lpdz8W-4kqNdLYQ&oe=6485D0A3" alt="">
                    </div>
                    <div class="p-4 md:w-[383px] md:h-[470px] h-[300px] overflow-auto">
                        <p class="font-bold">[ Item ]</p>
                        <p class="font-normal text-[24px]">✨item เพิ่มพลัง ที่ต้องมีแล้วจะเก่งขึ้นกว่าใคร✨ [ 26 พฤษภาคม 2566 ]</p>
                        <p class="md:flex">
    
                            ✨item เพิ่มพลัง ที่ต้องมีแล้วจะเก่งขึ้นกว่าใคร✨
                            <br>
                            ►Ball Stat 【เพิ่มstat】
                            <br>
                            ►Ball Exp 【เพิ่มExp】
                            <br>
                            ►Star Fame 【เพิ่มFame】
                            <br>
                            ►A Nectar 【บัพเพิ่มเลือด】
                            <br>
                            ►A Candy 【บัพวิ่งไว】
                            <br>
                            ►A Pear 【บัพเพิ่มพลังโจมตี】
                            <br>
                            ►A Cookie 【บัพเพิ่มความแม่นยำ】
                            <br>
                            ►A Kebab 【บัพเพิ่มพลังป้องกัน】
                            <br>
                            ►A Wine 【ลดอัตราการใช้มานา】
                        </p>
                    </div>
                </div>
            </div>
           
            <img src="/public/data/img/new-l-t.png" alt="" class="absolute left-0 top-0 p-3">
            <img src="/public/data/img/new-l-b.png" alt="" class="absolute left-0 bottom-0 p-3">
            <img src="/public/data/img/new-r-t.png" alt="" class="absolute right-0 top-0 p-3">
            <img src="/public/data/img/new-r-b.png" alt="" class="absolute right-0 bottom-0 p-3">
        </div>



    </div>
</section>



{{ end }}