{{ define "content" }}

<div class="container">
    <br>
    <h4>
        REPUBLIC OF LEGEND CO., LTD.
        <br>
        บริษัท รีพับบลิค ออฟ เลเจ้นด์ จำกัด
    </h4>
    <h5>
        นโยบายความเป็นส่วนตัว
        <br>
        1. บทนำ
        <br>

    </h5>

    <h5>
        1.1 ยินดีต้อนรับสู่ บริการ ของ AOK ที่ดำเนินการโดย REPUBLIC OF LEGEND CO.,
        LTD.(ซึ่งต่อไปนี้โดยเอกเทศและรวมกันเรียกว่า “AOK”, “เรา”, “พวกเรา” หรือ “ของเรา”) AOK
        รับผิดชอบภายใต้กฎหมายและข้อบังคับด้านความเป็นส่วนตัวที่เกี่ยวข้อง (“กฎหมายคุ้มครองข้อมูลส่วนบุคคล”)
        อย่างจริงจังและมุ่งมั่นที่จะเคารพสิทธิและมีความตระหนักถึงความเป็นส่วนตัวของผู้ใช้ทุกคนของเกม AOK (“เกม”)
        เว็บไซต์ และแอปพลิเคชันบนมือถือของเรา (“เว็บไซต์”) (เราจะอ้างอิงถึงเกม เว็บไซต์และบริการอื่นๆ
        ตามที่กำหนดไว้ในเงื่อนไขการให้บริการของเรา ซึ่งต่อไปนี้รวมกันเรียกว่า “บริการ”) และ “ผู้ใช้”
        หมายถึงผู้ใช้ที่มีบัญชีลงทะเบียนไว้หรือที่ได้ใช้หรือเข้าถึงบริการของเรา (เรียกแยกและเรียกรวมกันว่า “ผู้ใช้”
        “คุณ” หรือ “ของคุณ”) เราเห็นถึงความสำคัญของข้อมูลส่วนบุคคลที่คุณได้ไว้วางใจมอบให้กับเรา
        และเชื่อมั่นว่าเป็นความรับผิดชอบของเราที่จะจัดการ ปกป้อง และประมวลข้อมูลส่วนบุคคลของคุณอย่างถูกต้อง
        นโยบายความเป็นส่วนตัวนี้ (“นโยบายความเป็นส่วนตัว”)
        ได้จัดให้มีขึ้นเพื่อช่วยให้คุณเข้าใจเกี่ยวกับวิธีที่เราเก็บรวบรวม ใช้ เปิดเผย โอน
        และ/หรือประมวลผลข้อมูลส่วนบุคคลที่คุณที่ได้ให้แก่เรา
        และ/หรือข้อมูลของคุณที่เรามีอยู่ไม่ว่าจะในปัจจุบันหรืออนาคต
        รวมทั้งยังเป็นข้อมูลประกอบการตัดสินใจก่อนที่คุณจะให้ข้อมูลส่วนบุคคลใดๆ แก่เรา ทั้งนี้ คำนิยามใดๆ
        ที่ใช้ในนโยบายความเป็นส่วนตัวนี้โดยไม่ได้กำหนดความหมายไว้
        ให้มีความหมายเช่นเดียวกันกับคำนิยามที่กำหนดไว้ในเงื่อนไขการให้บริการของ AOK ที่บังคับใช้
    </h5>
    <h5>
        1.2 “ข้อมูลส่วนบุคคล” หมายถึง ข้อมูล
        ไม่ว่าจะจริงหรือเท็จเกี่ยวกับบุคคลที่สามารถถูกระบุยืนยันตัวตนได้จากข้อมูลนั้นๆ หรือจากข้อมูลนั้นๆ
        และข้อมูลอื่นที่องค์กรมี หรือมีแนวโน้มจะเข้าถึงได้ ตัวอย่างทั่วไปของข้อมูลส่วนบุคคลอาจรวมถึงชื่อ
        หมายเลขประจำตัว
        และข้อมูลการติดต่อ
    </h5>

    <h5>
        1.3 โดยการใช้บริการ ทำการลงทะเบียนบัญชีกับเรา หรือการเข้าชมเว็บไซต์ของเรา
        คุณได้รับทราบและตกลงว่าคุณยอมรับข้อปฏิบัติ ข้อบังคับ
        และ/หรือนโยบายที่ได้รับการสรุปความไว้ในนโยบายความเป็นส่วนตัวนี้ และ ณ ที่นี้คุณยินยอมให้เราทำการรวบรวม ใช้
        เปิดเผย และ/หรือประมวลข้อมูลส่วนบุคคลของคุณตามที่อธิบายไว้ในนี้
    </h5>
    <h5>
        1.4 หากคุณไม่ยิมยอมให้ทำการประมวลข้อมูลส่วนบุคคลของคุณตามที่อธิบายไว้ในนโยบายความเป็นส่วนตัวนี้
        โปรดอย่าใช้เกมของเราหรือเข้าถึงเว็บไซต์ของเรา หากเราเปลี่ยนแปลงนโยบายความเป็นส่วนตัวของเรา
        เราจะแจ้งให้คุณทราบ
        ซึ่งรวมถึงโดยการประกาศการเปลี่ยนแปลงดังกล่าวหรือนโยบายความเป็นส่วนตัวที่แก้ไขบนเว็บไซต์ ทั้งนี้
        เราขอสงวนสิทธิ์ในการแก้ไขนโยบายความเป็นส่วนตัวนี้ ณ เวลาใดๆ ก็ได้
        โดยภายใต้ขอบเขตสูงสุดที่อนุญาตโดยกฎหมายที่บังคับใช้ ในการเข้าใช้บริการหรือแพลตฟอร์ม
        รวมถึงการทำคำสั่งทำธุรกรรมผ่านบริการของเราอย่างต่อเนื่องของคุณต่อไปภายหลังการแก้ไขนั้นถือว่าคุณรับทราบและยอมรับการแก้ไขของนโยบายความเป็นส่วนตัวนี้
    </h5>
    <h5>
        1.5 นโยบายนี้ใช้บังคับร่วมกับการบอกกล่าว ข้อสัญญา ข้อตกลงให้ความยินยอมใดๆ ที่เกี่ยวข้องกับการเก็บรวบรวม ใช้
        เปิดเผย และ/หรือประมวลผลข้อมูลส่วนบุคคลของคุณโดยเรา โดยนโยบายนี้จะไม่ได้มีผลบังคับเหนือกว่าการบอกกล่าว
        หรือข้อสัญญาและข้อตกลงใดๆ เว้นแต่เราจะได้กำหนดไว้โดยชัดแจ้งเป็นอย่างอื่น
    </h5>
    <h5>
        <br>

        2. AOK จะรวบรวมข้อมูลส่วนบุคคลของคุณเมื่อไร?
    </h5>
    <h5>
        2.1 เราจะ/อาจจะรวบรวมข้อมูลส่วนบุคคลเกี่ยวกับคุณ :
        • เมื่อคุณลงทะเบียนและ/หรือใช้บริการ เกม หรือเว็บไซต์ของเรา หรือเปิดบัญชีกับเรา;
        <br>
        • เมื่อคุณส่งแบบฟอร์มใดๆ รวมถึง แต่ไม่จำกัดเฉพาะ แบบฟอร์มคำร้องหรือแบบฟอร์มอื่นๆ
        ที่เกี่ยวข้องกับผลิตภัณฑ์หรือบริการใดๆ ของเรา ไม่วาจะเป็นแบบออนไลน์หรือในทางกายภาพ;
        <br>

        • เมื่อคุณเข้าทำข้อตกลงใดๆ หรือมอบเอกสารหรือข้อมูลอื่นที่เกี่ยวกับการปฏิสัมพันธ์ของคุณกับเรา
        หรือเมื่อคุณใช้ผลิตภัณฑ์หรือบริการของเรา;
        <br>

        • เมื่อคุณปฏิสัมพันธ์กับเรา เช่น ผ่านทางโทรศัพท์ (ซึ่งอาจถูกบันทึก) จดหมาย โทรสาร การพบปะตัวต่อตัว
        โซเชียลมีเดีย
        และอีเมล รวมถึงเมื่อคุณได้ติดต่อกับตัวแทนให้บริการลูกค้า (customer service agents) ของเรา;
        <br>

        • เมื่อคุณใช้บริการผ่านระบบอิเล็กทรอนิกส์ของเรา หรือปฏิสัมพันธ์กับเราผ่านเกม หรือเว็บไซต์ของเรา
        หรือใช้บริการของเรา รวมถึง แต่ไม่จำกัดเฉพาะ
        ผ่านคุกกี้ซึ่งเราอาจใช้เมื่อคุณปฏิสัมพันธ์กับเกมหรือเว็บไซต์ของเรา;
        <br>

        • เมื่อคุณได้อนุญาตโดยผ่านอุปกรณ์ของคุณ ให้เปิดเผยข้อมูลใดๆ แก่แอปพลิเคชันบนมือถือหรือเว็บไซต์ของเรา;
        <br>

        • เมื่อคุณเชื่อมโยงบัญชี AOK กับบัญชีสื่อสังคมออนไลน์ (ตามที่นิยามไว้ด้านล่างนี้)
        หรือบัญชีผู้ใช้งานอื่นของคุณ
        หรือใช้ฟีเจอร์สื่อสังคมออนไลน์อื่น (social media features)
        ภายใต้นโยบายการให้บริการของผู้ให้บริการฟีเจอร์นั้นๆ;
        <br>

        • เมื่อคุณทำธุรกรรมผ่านเกมหรือเว็บไซต์ของเรา (เมื่อใช้บังคับ) หรือกับผู้ให้บริการรับชำระเงินใดๆ
        ที่ได้รับอนุญาตจากเรา;
        <br>

        • เมื่อคุณให้คำติชมหรือเรื่องร้องเรียนแก่เรา;
        <br>

        • เมื่อคุณลงทะเบียนสำหรับการแข่งขัน สำหรับเกมหรืองานเฉพาะของเกม;
        <br>

        • ในระหว่างการเล่นเกมของคุณ; และ
        <br>

        • เมื่อคุณส่งมอบข้อมูลส่วนบุคคลของคุณให้กับเราไม่ว่าด้วยเหตุผลใด
        ตามที่กล่าวมาข้างต้นไม่ได้มีวัตถุประสงค์ในการเข้าถึงข้อมูลที่ครบถ้วนสมบูรณ์ทั้งหมด
        และระบุเป็นเพียงตัวอย่างข้อมูลทั่วไปบางส่วนของข้อมูลส่วนบุคคลเกี่ยวกับคุณที่อาจถูกเก็บรวบรวม
    </h5>
    <h5>
        <br>

        3. ข้อมูลส่วนบุคคลใดที่ AOK จะรวบรวม?
        <br>
        3.1 ข้อมูลส่วนบุคคลที่ AOK อาจรวบรวม รวมถึงแต่ไม่จำกัดเฉพาะ:
        <br>

        • ชื่อ ชื่อผู้ใช้ (username) และรหัสผู้ใช้ (user ID);
        <br>

        • ข้อมูลสำหรับติดต่อ (รวมถึง อีเมล);
        <br>

        • หมายเลขโทรศัพท์ และ/หรือที่อยู่;
        <br>

        • ข้อมูลการทำธุรกรรม รวมถึงข้อมูลบัญชีธนาคารและข้อมูลการชำระเงิน
        (เมื่อใช้บังคับและภายใต้กฎหมายที่บังคับใช้);
        <br>

        • ข้อมูลสนทนาและข้อมูลเกี่ยวกับบุคคลหรือบัญชีใดๆ ที่คุณติดต่อด้วย;
        <br>

        • เพศ อายุ และ/หรือวันเกิด;
        <br>

        • ข้อมูลที่ถูกส่งโดยอุปกรณ์ใดๆ ที่เชื่อมโยงกับการเข้าถึงบริการของเรา;
        <br>

        • รูปภาพ หรือ เสียง หรือ วิดีโอบันทึก ที่คุณได้ให้ผ่านบริการ;
        <br>

        • ข้อมูลเกี่ยวกับตำแหน่งที่อยู่ รวมถึง ที่อยู่ IP (IP address);
        <br>

        • ข้อมูลแสดงตัวตนที่ออกให้โดยหน่วยงานรัฐ หรือ ข้อมูลอื่นใดที่ให้แก่เรา (เมื่อใช้บังคับ);
        <br>

        • ข้อมูลการติดต่อสื่อสารและการตลาด เช่น ความสนใจของคุณในการรับข้อมูลทางการตลาด
        รูปแบบการติดต่อสื่อสารที่คุณสนใจและประวัติข้อมูลการติดต่อสื่อสารกับเราและผู้ให้บริการของเรา;
        <br>

        • ข้อมูลจากการตอบแบบสอบถาม ข้อมูลเกี่ยวกับการแข่งขัน การประกวดหรือทัวร์นาเมนต์ (tournaments)
        และ/หรือข้อมูลอื่นใดที่คุณให้แก่เรา;
        <br>

        • ข้อมูลอื่นใดเกี่ยวกับที่คุณให้ไว้เมื่อคุณลงทะเบียนหรือใช้บริการของเรา
        รวมถึงข้อมูลที่ถูกแชร์ผ่านบัญชีสื่อสังคมออนไลน์/social media account (“บัญชีสื่อสังคมออนไลน์”);
        และข้อมูลธุรกรรมและการเข้าใช้งาน รวมถึงข้อมูลของคุณเกี่ยวกับกิจกรรม รายการคำสั่งทำธุรกรรม การใช้บริการของเรา
        และข้อมูลการเข้าชมสื่อโฆษณาและเนื้อหา



    </h5>
    <h5>
        3.2 คุณตกลงจะไม่ส่งข้อมูลที่ไม่ถูกต้องหรือหลอกลวงให้แก่เรา
        และคุณตกลงจะแจ้งเราถึงความไม่ถูกต้องและการเปลี่ยนเปลี่ยนในข้อมูลดังกล่าว
        และเราขอสงวนสิทธิ์แต่เพียงผู้เดียวในการเรียกเอกสารเพิ่มเติมเพื่อตรวจสอบรายละเอียดในข้อมูลที่คุณส่งให้แก่เราภายใต้กฎหมายที่บังคับใช้
    </h5>
    <h5>
        3.3 หากคุณลงทะเบียนเป็นผู้ใช้บริการของเราโดยใช้บัญชีสื่อสังคมออนไลน์ของคุณ
        หรือเชื่อมต่อบัญชีของคุณกับบัญชีสื่อสังคมออนไลน์ของคุณ หรือใช้ฟีเจอร์สื่อสังคมออนไลน์ (Social Media
        Features)
        ของ AOK แล้ว
        เราอาจเข้าถึงข้อมูลเกี่ยวกับท่านซึ่งท่านได้จัดเตรียมไว้ให้แก่ผู้ให้บริการบัญชีสื่อสังคมออนไลน์ของท่านโดยสมัครใจตามนโยบายของผู้ให้บริการดังกล่าว
        และเราอาจจัดการ จัดเก็บ และใช้ข้อมูลส่วนบุคคลดังกล่าวตามนโยบายได้ทุกกรณี
    </h5>
    <h5>
        3.4 หากคุณไม่ต้องการให้เรารวบรวมข้อมูล/ข้อมูลส่วนบุคคลที่ได้กล่าวไปแล้ว คุณสามารถการเลือกออกจากการให้ข้อมูล
        ได้ทุกเมื่อโดยการแจ้งเป็นลายลักษณ์อักษรส่งไปยังเจ้าหน้าด้านการคุ้มครองข้อมูลของเรา
        ข้อมูลเพิ่มเติ่มเกี่ยวกับการยกเลิกบัญชี สามารถดูได้ในหมวดด้านล่างในหัวข้อ “วิธีการเลือกถอนความยินยอม ลบ
        ร้องขอการเข้าถึง หรือแก้ไขข้อมูลที่คุณมอบให้กับเราได้อย่างไร?” โปรดทราบว่า อย่างไรก็ตาม
        การเลือกออกจากการให้ข้อมูล หรือที่เราถอนความยินยอมของคุณที่จะให้เรารวบรวม ใช้
        หรือประมวลข้อมูลส่วนบุคคลของคุณอาจส่งผลต่อการใช้บริการของคุณ ตัวอย่าง
        การเลือกออกจากการรวบรวมข้อมูลตำแหน่งจะทำให้คุณลักษณะที่อิงตำแหน่งถูกปิดการใช้งาน
    </h5>
    <h5>
        <br>

        4. การเก็บรวบรวมข้อมูลอื่นๆ
        <br>
        4.1 เช่นเดียวกับเว็บไซต์ส่วนใหญ่และแอปพลิเคชั่นบนโทรศัพท์มือถือ
        อุปกรณ์ของคุณที่ส่งข้อมูลซึ่งอาจรวมถึงข้อมูลเกี่ยวกับคุณที่จะถูกเก็บไว้โดยเซิร์ฟเวอร์ของเว็บเมื่อคุณใช้บริการของเราโดยปกติ
        ซึ่งจะรวมถึงการไม่จำกัดเฉพาะ
        ที่อยู่ไอพีของอุปกรณ์ที่มีหมายเลขที่ใช้สำหรับระบุตัวตนของเครื่องคอมพิวเตอร์ที่เชื่อมต่ออยู่บนเครื่อข่าย
        (Device’s Internet Protocol Address) ของคุณ ระบบปฏิบัติการของอุปกรณ์คอมพิวเตอร์/โทรศัพท์มือถือ และบราวเซอร์
        ประเภท ชนิดของอุปกรณ์โทรศัพท์มือถือ ลักษณะของอุปกรณ์โทรศัพท์มือถือ ลักษณะเฉพาะของหมายเลขประจำเครื่อง (UDID)
        หรือหมายเลขประจำเครื่อง (MEID) สำหรับอุปกรณ์โทรศัพท์มือถือของคุณ ที่อยู่ซึ่งอ้างอิงถึงเว็บไซต์ (ถ้ามี)
        เพจที่คุณเข้าชมบนเว็บไซต์และแอปพลิเคชั่นบนโทรศัพท์มือถือของเรา และเวลาในการเข้าชม และ บางครั้ง “คุกกี้”
        (ซึ่งสามารถปิดการใช้งานได้ในการตั้งค่าบราวเซอร์ของคุณ) เพื่อช่วยเว็บไซต์ในการจำการเข้าชมครั้งล่าสุดของคุณ
        หากคุณลอกอิน ข้อมูลนี้จะเชื่อมโยงกับบัญชีส่วนตัวของคุณ นอกจากนี้
        ข้อมูลยังรวมถึงสถิติที่ไม่ระบุตัวตนเพื่อให้เราเข้าใจว่าผู้เข้าชมใช้งานเกมและเว็บไซต์ของเราอย่างไร
        <br>

        4.2
        แอปพลิเคชั่นบนโทรศัพท์มือถือของเราอาจเก็บรวบรวมข้อมูลที่ถูกต้องซึ่งเกี่ยวกับที่ตั้งบนอุปกรณ์โทรศัพท์มือถือของคุณอันเกี่ยวกับการใช้เทคโนโลยี
        เช่น จีพีเอส (GPS) ไว-ไฟ (Wi-Fi) เป็นต้น ทั้งนี้ เราเก็บรวบรวม เปิดเผย
        และ/หรือใช้ข้อมูลดังกล่าวเพื่อใช้ในวัตถุประสงค์ใดประสงค์หนึ่งหรือมากกว่านั้น ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะ
        การบริการซึ่งบอกตำแหน่งทางภูมิศาสตร์ (Location Based Service (LBS))
        ซึ่งคุณร้องขอหรือมีการส่งเนื้อหาที่เกี่ยวข้องให้แก่คุณตามตำแหน่งที่ตั้งของคุณ
        หรืออนุญาตให้คุณแบ่งปันตำแหน่งที่ตั้งของคุณแก่ผู้ใช้บริการคนอื่นซึ่งเป็นส่วนหนึ่งของบริการภายใต้แอปพลิเคชั่นบนโทรศัพท์มือถือของคุณ
        อุปกรณ์โทรศัพท์มือถือของคุณส่วนใหญ่
        คุณมีสิทธิถอนความยินยอมที่ให้แก่เราในการครอบครองข้อมูลนี้บนตำแหน่งที่ตั้งของคุณผ่านการตั้งค่าอุปกรณ์ของคุณ
        หากคุณมีข้อสงสัยเกี่ยวกับวิธีการปิดบริการตำแหน่งที่ตั้งบนอุปกรณ์โทรศัพท์มือถือของคุณ
        กรุณาติดต่อผู้ให้บริการอุปกรณ์โทรศัพท์มือถือของคุณหรือผู้ผลิตอุปกรณ์ดังกล่าว
        <br>

        4.3 เช่นเดียวกันกับเมื่อคุณดูเพจหรือเนื้อหาต่างๆ บนเว็บไซต์หรือแอปพลิเคชันบนมือถือของเรา
        ข้อมูลเดียวกันเกือบทั้งหมดจะถูกส่งมาถึงเรา (รวมถึงแต่ไม่จำกัดเพียง ที่อยู่ IP (IP Address) และ
        ข้อมูลเกี่ยวกับระบบปฏิบัติการของคุณ ฯลฯ) แต่แทนที่จะส่งข้อมูลการเข้าชมหน้าต่างๆ นั้น
        อุปกรณ์ของคุณจะส่งข้อมูลเกี่ยวกับเนื้อหา โฆษณาที่เข้าชม และ/หรือ ซอฟต์แวร์ที่ติดตั้ง
        และเวลาที่เข้าชมให้แก่เรา

    </h5>
    <h5>
        <br>

        5. คุกกี้
        <br>

        5.1 เรา หรือ บุคคลอื่นผู้ให้บริการในนามของเรา และ บริษัทคู่ค้าสื่อโฆษณาของเรา อาจใช้ “คุกกี้”
        หรือฟีเจอร์อื่นๆ
        ในบางคราวเพื่อให้เราหรือบุคคลภายนอกสามารถเก็บรวบรวมหรือแบ่งปันข้อมูลเกี่ยวกับการใช้บริการของคุณ
        ซึ่งฟีเจอร์เหล่านี้จะช่วยเราในการปรับปรุงเว็บไซต์ เกม และบริการที่เรานำเสนอ
        หรือช่วยให้เรานำเสนอบริการและฟีเจอร์ใหม่ๆ ได้
        และ/หรือช่วยให้เราและบริษัทคู่ค้าสื่อโฆษณาสามารถนำเสนอเนื้อหาที่เกี่ยวข้องตามความสนใจของคุณ
        ซึ่งรวมถึงการทำโฆษณาติดตามลูกค้าภายใต้กฎหมายที่บังคับใช้ ทั้งนี้ “คุกกี้”
        คือตัวระบุยืนยันที่เราส่งไปยังคอมพิวเตอร์หรืออุปกรณ์เคลื่อนที่ของคุณซึ่งบันทึกข้อมูลเกี่ยวกับคอมพิวเตอร์หรืออุปกรณ์ของคุณ
        วิธีและเวลาในการใช้หรือเข้าชมบริการของเราหรือเว็บไซต์ต่างๆ จำนวนผู้ใช้และกิจกรรมอื่นๆ
        ภายในเว็บไซต์และเกมของเรา
        เราอาจเชื่อมโยงข้อมูลคุกกี้เข้ากับข้อมูลส่วนบุคคล นอกจากนี้
        คุกกี้ยังเชื่อมโยงกับข้อมูลเกี่ยวกับรายการที่คุณได้เลือกไว้สำหรับหน้าการซื้อที่คุณดู หรือเกมที่คุณเล่น
        และข้อมูลนี้อาจถูกใช้เพื่อติดตามรถเข็นสินค้า (shopping cart) ของคุณ
        เพื่อมอบเนื้อหาที่เหมาะสมกับความสนใจของคุณ
        เพื่อให้บริษัทคู่ค้าสื่อโฆษณาของเราสามารถนำเสนอโฆษณาผ่านบริการของเราหรือบนไซต์ต่างๆ บนอินเตอร์เน็ต
        และเพื่อตรวจสอบการใช้บริการของเรา ขึ้นอยู่กับบริการที่เกี่ยวข้อง
        <br>

        5.2 คุณสามารถปฏิเสธการใช้งานคุกกี้หรือเว็บ beacons
        โดยการเลือกการตั้งค่าที่เหมาะสมหรือตามความสนใจของคุณในบราวเซอร์หรืออุปกรณ์ของคุณ อย่างไรก็ตาม
        โปรดทราบว่าหากคุณทำเช่นนี้คุณอาจจะไม่สามารถใช้หน้าที่การทำงานต่างๆของเว็บไซต์ เกม
        หรือบริการของเราได้อย่างเต็มที่
        <br>

        5.3
        คุณอาจสามารถยกเลิกการรับโฆษณาตามความสนใจของคุณผ่านแอปพลิเคชันบนมือถือบางแอปพลิเคชันโดยการปฏิบัติตามคำแนะนำสำหรับระบบปฏิบัติการบน
        Android และ iOS
    </h5>
    <h5>
        <br>

        6. เราจะใช้ข้อมูลที่คุณมอบให้แก่เราอย่างไร?
        <br>

        6.1 เราอาจรวบรวม ใช้ เปิดเผย
        <br>

        และ/หรือประมวลข้อมูลส่วนบุคคลของคุณเพื่อวัตถุประสงค์ใดวัตถุประสงค์หนึ่งหรือมากกว่าดังต่อไปนี้ :
        <br>

        (1) เพื่อพิจารณาและ/หรือประมวลผลคำร้อง/ธุรกรรมของคุณกับเรา
        หรือธุรกรรมหรือการสื่อสารของคุณกับบุคคลที่สามผ่านบริการ ;
        <br>

        (2) เพื่อจัดการ ดำเนินการ มอบ
        และ/หรือดูแลการใช้งานของคุณและ/หรือการเข้าถึงบริการของเราและเว็บไซต์และเกมของเรา
        (รวมถึงแต่ไม่จำกัดเฉพาะความสมัครใจของคุณ) เช่นเดียวกับความสัมพันธ์ของคุณและบัญชีผู้ใช้กับเรา ;
        <br>

        (3) เพื่อตอบสนอง ประมวลผล และจัดการกับ หรือทำธุรกรรมให้สมบูรณ์
        และ/หรือเพื่อทำตามคำร้องของคุณสำหรับผลิตภัณฑ์หรือบริการ
        และแจ้งคุณถึงปัญหาในบริการและการกระทำขอบัญชีที่ผิดปกติ ;
        <br>

        (4) เพื่อบังคับใช้ข้อตกลงการให้บริการของเรา หรือข้อตกลงอนุญาตใช้สิทธิสำหรับผู้ใช้ปลายทางใดๆ ที่เกี่ยวข้อง ;
        <br>

        (5) เพื่อปกป้องความปลอดภัยและสิทธิส่วนบุคคล ทรัพย์สิน และความปลอดภัยของผู้อื่น ;
        <br>

        (6) สำหรับการระบุยืนยันตัวตนและ/หรือการระบุยืนยันความถูกต้อง ;
        <br>

        (7) เพื่อดูแลรักษา จัดการและปรับปรุง การอัพเดทซอฟท์แวร์และ/หรือการอัพเดทอื่นๆ การสนับสนุนการให้บริการของเรา
        ซึ่งรวมถึง การแก้ไขปัญหา การรายงาน หรือการจัดการกับประเด็นใดๆ (เช่น การตอบสนองต่อการทำงานผิดพลาด หรือรายงาน
        crash (crash report))
        ที่อาจจำเป็นในบางครั้งเพื่อให้มั่นใจในการให้บริการและปฏิบัติการที่ราบรื่นของเกมและ/หรือบริการของเรา;
        <br>

        (8) เพื่อจัดการกับ หรืออำนวยความสะดวกแก่ลูกค้าสัมพันธ์ ดำเนินการตามคำสั่งของคุณ
        จัดการกับหรือตอบสนองต่อการสอบถามที่ได้รับมอบจาก (หรือมุ่งหมายที่จะได้รับมอบจาก) คุณหรือในนามของคุณ ;
        <br>

        (9) เพื่อติดต่อคุณ หรือสื่อสารกับคุณผ่านการคุยทางเสียง ข้อความ และ/หรือข้อความโทรสาร อีเมล
        และ/หรือจดหมายไปรษณีย์ หรือนอกจากนั้นเพื่อวัตถุประสงค์ในการดูแลและ/หรือการจัดการความสัมพันธ์ของคุณกับเรา
        หรือการใช้บริการของเรา ดังเช่น แต่ไม่จำกัดเฉพาะ เพื่อทำการสื่อสารข้อมูลด้านการกำกับดูแลให้
        แก่คุณเกี่ยวกับบริการของเรา คุณรับทราบและตกลงว่าการสื่อสารดังกล่าวโดยเราอาจเป็นการส่งไปรษณีย์ของจดหมาย
        เอกสาร
        หรือใบแจ้งเตือนให้แก่คุณ ซึ่งอาจเกี่ยวพันกับการเปิดเผยข้อมูลส่วนบุคคลบางอย่างเกี่ยวกับคุณเพื่อทำการจัดส่ง
        เช่นเดียวกับการจ่าหน้าซองจดหมาย/กล่องพัสดุไปรษณีย์ ;
        <br>

        (10) เพื่ออนุญาตให้ผู้ใช้อื่นปฏิสัมพันธ์ ติดต่อสื่อสาร หรือเชื่อมต่อกับคุณ
        และรวมถึงเพื่อแจ้งให้คุณทราบเมื่อผู้ใช้คนอื่นได้ส่งข้อความส่วนตัวให้คุณ หรือโพสต์ความคิดเห็นสำหรับคุณในเกม
        หรือเว็บไซต์ ;
        <br>

        (11) เพื่อทำการวิจัย วิเคราะห์ และพัฒนากิจกรรมต่างๆ (รวมไปถึง แต่ไม่จำกัดเฉพาะ การวิเคราะห์ข้อมูล การสำรวจ
        การพัฒนาผลิตภัณฑ์และบริการ และ/หรือการวิเคราะห์ข้อมูลตามความสนใจหรือพฤติกรรมของคุณ)
        เพื่อวิเคราะห์การใช้บริการของเรา เพื่อแนะนำผลิตภัณฑ์และ/หรือบริการตามความสนใจของคุณ
        เพื่อปรับปรุงบริการหรือผลิตภัณฑ์ของเรา และ/หรือเพื่อส่งเสริมประสบการณ์การเป็นลูกค้าของคุณ;
        <br>

        (12) เพื่อให้ทำการโฆษณาและการตรวจสอบและแบบสำรวจต่างๆ
        (ผ่านแบบสำรวจออฟไลน์และแบบสำรวจออนไลน์บนแพลตฟอร์มของบุคคลอื่น เช่น การทำแบบสำรวจผ่าน Google Forms)
        เพื่อตรวจสอบขนาดและองค์ประกอบของผู้รับชมกลุ่มเป้าหมายของเรา
        และทำความเข้าใจเกี่ยวกับประสบการณ์ลูกค้าได้รับจากบริการของ AOK;
        <br>

        (13) เพื่อทำการตลาดและโฆษณาสำหรับกิจกรรมส่งเสริมการตลาดเมื่อสามารถกระทำได้ภายใต้กฎหมายที่บังคับใช้
        และเพื่อการดังกล่าวนี้ โดยการแนะนำสินค้าและ/หรือบริการตามความสนใจของคุณ
        การบอกกล่าวสื่อสารโดยการแจ้งผ่านวิธีการและรูปแบบต่างๆ (รวมถึง ทางอีเมลหรือทาง SMS)
        เกี่ยวกับข้อมูลทางการตลาดและการส่งเสริมการขาย และสื่อที่เกี่ยวข้องกับผลิตภัณฑ์และ/หรือบริการ
        (ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะ ผลิตภัณฑ์และ/หรือบริการของบุคคลอื่นใดที่ AOK อาจร่วมมือหรือมีข้อตกลงระหว่างกัน)
        ที่
        AOK (และ/หรือบริษัทในกลุ่มหรือบริษัทที่เกี่ยวข้อง) อาจทำการขาย ทำการตลาด หรือทำการส่งเสริมการขาย
        ไม่ว่าผลิตภัณฑ์หรือบริการดังกล่าวจะมีอยู่ในขณะนี้หรือที่จัดให้มีขึ้นในภายหลัง
        ซึ่งคุณสามารถยกเลิกการรับข้อมูลโฆษณาทางการตลาดได้ตลอดเวลาโดยการเลือกฟังชันยกเลิกติดตาม (unsubscribe
        function)
        ที่มีอยู่ในสื่อการตลอดอิเล็กทรอนิกส์ (electronic marketing materials) ทั้งนี้
        เราอาจใช้ข้อมูลสำหรับติดต่อคุณเพื่อส่งจดหมายข่าวหรือสื่อการตลาดจากเราและจากบริษัทที่เกี่ยวข้องของเรา;
        <br>

        (14) เพื่อตอบสนองต่อกระบวนการทางกฎหมาย หรือเพื่อทำตามหรือตามที่กำหนดโดยกฎหมายใดๆ ที่เกี่ยวข้อง
        ข้อบังคับของรัฐบาลหรือที่มีผลบังคับใช้ของเขตอำนาจที่เกี่ยวข้อง รวมไปถึง แต่ไม่จำกัดเฉพาะ
        การทำตามข้อบังคับเพื่อทำการเปิดเผยภายใต้ข้อบังคับของกฎหมายใดๆ ที่ผูกพันกับ AOK
        หรือกับบริษัทที่เกี่ยวข้องหรือบริษัทในกลุ่ม;
        <br>

        (15) เพื่อสร้างค่าสถิติและการวิจัยสำหรับการรายงานภายในและทางกฎหมาย และ/หรือตามข้อบังคับในการเก็บรักษาบันทึก:
        <br>

        (16) เพื่อดำเนินการตรวจสอบธุรกิจหรือกิจกรรมคัดกรองอื่นๆ (รวมไปถึง แต่ไม่จำกัดเฉพาะ การตรวจสอบประวัติ)
        ที่สอดคล้องกับภาระผูกพันทางกฎหมายหรือที่มีผลบังคับใช้
        หรือกระบวนการบริหารจัดการความเสี่ยงของเราที่อาจถูกกำหนดให้มีโดยกฎหมาย หรือที่อาจได้ถูกกำหนดไว้โดยเรา;
        <br>

        (17) เพื่อตรวจสอบบัญชีบริการของเราหรือธุรกิจของ AOK;
        <br>

        (18) เพื่อป้องกันหรือตรวจสอบ การละเมิดหรือสงสัยว่าจะเป็นการกระทำละเมิดเกี่ยวกับเงื่อนไขการให้บริการของเรา
        การฉ้อโกง กิจกรรมที่ผิดกฎหมาย การละเลยหรือการประพฤติผิด
        ไม่ว่าจะเกี่ยวข้องกับการใช้บริการของเราหรือเรื่องอื่นๆ
        ที่เกิดจากความสัมพันธ์ของคุณกับเรา;
        <br>

        (19) เพื่อจัดเก็บ ให้สถานที่ สำรอง (ไม่ว่าจะเพื่อการกู้คืนข้อมูลหรือเพื่อวัตถุประสงค์อื่นใด)
        ข้อมูลส่วนบุคคลของคุณ ไม่ว่าจะอยู่ภายในหรือภายนอกเขตอำนาจที่มีผลบังคับกฎหมายของคุณ ;
        <br>

        (20) เพื่อจัดการกับ และ/หรืออำนวยความสะดวกธุรกรรมทรัพย์สินทางธุรกิจหรือธุรกรรมทรัพย์สินทางธุรกิจที่เป็นไปได้
        ซึ่งธุรกรรมดังกล่าวเกี่ยวพันกับ AOK ในฐานะผู้มีส่วนร่วม
        หรือเพียงแค่เกี่ยวพันกับบริษัทที่เกี่ยวข้องหรือบริษัทในกลุ่มของ AOK ในฐานะผู้มีส่วนร่วม หรือเกี่ยวพันกับ AOK
        และ/หรือหนึ่งในบริษัทที่เกี่ยวข้องหรือบริษัทในกลุ่มของ AOK หรือมากกว่า
        และอาจมีองค์กรที่สามจากภายนอกที่เป็นผู้มีส่วนร่วมในธุรกรรมดังกล่าว “ธุรกรรมทรัพย์สินทางธุรกิจ” หมายถึง
        การซื้อ
        การขาย การเช่า การรวมบริษัท การควบรวมกิจการ หรือการซื้อกิจการอื่นๆ การจำหน่ายโอนทรัพย์สิน หรือการโอน
        หรือการจัดการทางการเงินขององค์กร หรือส่วนหนึ่งขององค์กร หรือส่วนหนึ่งส่วนใดหรือทั้งหมดของธุรกิจ
        กิจกรรมทางธุรกิจหรือทรัพย์สินใดๆ ขององค์กร; และ/หรือ
        <br>

        (21) เพื่อตรวจสอบคุณสมบัติ และ/หรือ เพื่อส่งใบสมัครหรือคำขอลงทะเบียนเพื่อเข้าร่วมการแข่งขัน กิจกรรม
        หรือทัวร์นาเมนต์ (tournaments) ใดๆ ของเกม และเพื่อส่งมอบของรางวัลให้แก่คุณ เมื่อใช้บังคับ; และ
        <br>

        (22) วัตถุประสงค์อื่นๆ ที่สามารถกระทำได้ภายใต้กฎหมายที่บังคับใช้
        ซึ่งจะเราจะแจ้งให้คุณทราบเมื่อทำการขอความยินยอมจากคุณ (ซึ่งต่อไปนี้เรียกรวมกันว่า “วัตถุประสงค์”)
        <br>

        6.2 คุณรับทราบ ยินยอมและตกลงว่า AOK อาจเข้าถึง เก็บรักษา และเปิดเผย ข้อมูลในบัญชีผู้ใช้ของคุณและรวมถึง
        “เนื้อหา”
        ในกรณีที่ต้องปฏิบัติตามกฎหมาย หรือตามคำสั่งศาล หรือคำสั่งจากหน่วยงานรัฐใดๆ ที่มีเขตอำนาจบังคับต่อ AOK
        หรือตามความเชื่อโดยสุจริตว่าต้องกระทำการดังกล่าวเพื่อ (ก) ปฏิบัติตามขั้นตอนของกฎหมายใดๆ (ข)
        ปฏิบัติตามคำสั่งจากหน่วยงานรัฐใดๆ ที่มีเขตอำนาจบังคับต่อ AOK (ค)
        บังคับให้เป็นไปตามเงื่อนไขการให้บริการและนโยบายความเป็นส่วนตัวนี้ (ง) ปฏิบัติตามข้อเรียกร้องใดๆ
        ไม่ว่าโดยข่มขู่หรือตามความเป็นจริง ที่ร้องต่อ AOK หรือตามข้อเรียกร้องใดๆ จากการที่ “เนื้อหา”
        นั้นละเมิดสิทธิใดๆ
        ของบุคคลอื่น (จ) ปฏิบัติตามคำร้องขอของคุณในส่วนการบริการลูกค้า หรือ (ฉ) ปกป้องสิทธิ
        รักษาความปลอดภัยในทรัพย์สินและบุคคลของ AOK ผู้ใช้ และ/หรือสาธารณะ

        <br>

        6.3 ด้วยวัตถุประสงค์ที่เราจะ/อาจจะรวมรวบ ใช้ เปิดเผย
        หรือประมวลข้อมูลส่วนบุคคลของคุณขึ้นกับสถานการณ์ในขณะนั้น
        วัตถุประสงค์ดังกล่าวอาจไม่ปรากฏอยู่ด้านบน อย่างไรก็ตาม เราจะแจ้งให้คุณทราบเกี่ยวกับวัตถุประสงค์อื่นๆ
        ดังกล่าวเมื่อทำการขอความยินยอมจากคุณ
        เว้นแต่การการประมวลข้อมูลที่เกี่ยวข้องโดยไม่ต้องมีความยิมยอมของคุณจะได้รับอนุญาตให้ทำได้ตามกฎหมายคุ้มครองข้อมูลส่วนบุคคล

    </h5>
    <h5>
        <br>

        7. AOK คุ้มครองและเก็บรักษาข้อมูลลูกค้าอย่างไร?
        <br>

        7.1 เรานำมาตรการด้านความปลอดภัยและการควบคุมการปฏิบัติการที่หลากหลายมาปฏิบัติ
        และเราพยายามดำเนินการให้แน่ใจว่าข้อมูลส่วนบุคคลของคุณที่อยู่ในระบบของเรานั้นมีความปลอดภัย
        ข้อมูลส่วนบุคคลของผู้ใช้ถูกเก็บไว้ภายในเครือข่ายที่มีความปลอดภัย
        และสามารถเข้าถึงได้โดยพนักงานไม่กี่คนที่มีสิทธิการเข้าถึงพิเศษในระบบดังกล่าว อย่างไรก็ตาม
        เราไม่สามารถรับประกันความปลอดภัยของข้อมูลส่วนบุคคลของคุณได้อย่างสมบูรณ์
        <br>

        7.2 เราจะรักษาข้อมูลส่วนบุคคลให้เป็นไปตามกฎหมายคุ้มครองข้อมูลส่วนบุคคลและ/หรือกฎหมายที่เกี่ยวข้องอื่นๆ
        เราจะทำลายหรือลบการเชื่อมโยงตัวตนข้อมูลส่วนบุคคลของคุณเมื่อมีเหตุผลสมควรให้พิจารณาว่า (i)
        วัตถุประสงค์ที่ทำให้ต้องรวบรวมข้อมูลส่วนบุคคลไม่ได้รับการตอบสนองจากการรักษาข้อมูลส่วนตัวดังกล่าวไว้ และ (ii)
        การรักษาไม่มีความจำเป็นสำหรับวัตถุประสงค์ทางกฎหมายหรือทางธุรกิจอีกต่อไป และ (iii)
        ไม่มีเหตุอันจะอ้างประโยชน์อันชอบธรรมในการเก็บรักษาข้อมูลส่วนบุคคลดังกล่าวได้อีกต่อไป
        หากคุณหยุดใช้บริการของเรา
        หรือการอนุญาตใช้งานเว็บไซต์ เกมและ/หรือบริการของคุณถูกถูกเพิกถอนหรือสิ้นสุดลง เราอาจยังคงทำการเก็บ ใช้
        และ/หรือเปิดเผยข้อมูลส่วนบุคคลของคุณตามนโยบายความเป็นส่วนตัวนี้
        และภาระผูกพันของเราภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคล ขึ้นอยู่กับกฎหมายที่เกี่ยวข้อง
        เราอาจขจัดข้อมูลส่วนบุคคลของคุณออกอย่างปลอดภัยโดยไม่ต้องแจ้งให้คุณทราบล่วงหน้า
    </h5>
    <h5>
        <br>

        8. AOK เปิดเผยข้อมูลที่รวบรวมจากผู้เข้าชมแก่บุคคลภายนอกหรือไม่?
        <br>

        8.1 ในการดำเนินธุรกิจของเรา เราจะ/อาจจะจำเป็นต้องเปิดเผยข้อมูลส่วนบุคคลของคุณแก่ผู้ให้บริการจากภายนอก ตัวแทน
        และ/หรือบริษัทในกลุ่มของเราหรือบริษัทที่เกี่ยวข้อง และ/หรือบุคคลที่สามอื่นๆ
        ไม่ว่าจะตั้งอยู่ในสิงคโปร์หรืออยู่นอกสิงคโปร์ ด้วยวัตถุประสงค์หนึ่งอย่างหรือมากกว่าตามที่กล่าวไว้ด้านบน
        ผู้ให้บริการจากภายนอก ตัวแทน และ/หรือบริษัทในกลุ่มของเราหรือบริษัทที่เกี่ยวข้อง และ/หรือบุคคลที่สามอื่นๆ
        ดังกล่าวอาจทำการประมวลข้อมูลส่วนบุคคลของคุณ อาจจะในนามของเราหรืออื่นๆ
        ด้วยวัตถุประสงค์หนึ่งอย่างหรือมากกว่าตามที่กล่าวไว้ด้านบน บุคคลที่สามดังกล่าว รวมถึงแต่ไม่จำกัดเฉพาะ:
        <br>

        • บริษัทในเครือ บริษัทในกลุ่ม และบริษัทอื่นที่เกี่ยวข้องของเรา;
        <br>

        • ผู้ใช้อื่นของบริการของเราที่เกี่ยวข้องกับการใช้บริการของคุณ และ เพื่อ “วัตถุประสงค์”
        อย่างใดอย่างหนึ่งหรือมากกว่า
        <br>

        • ผู้รับจ้าง ตัวแทน ผู้ให้บริการ และบุคคลภายนอกอื่นๆ ที่เราใช้บริการเพื่อสนับสนุนธุรกิจของเรา
        บุคคลเหล่านี้รวมถึงแต่ไม่จำกัดเฉพาะ บุคคลผู้ให้บริการบริการจัดการหรือบริการอื่นใดแก่เรา เช่น
        บริษัทขนส่งพัสดุไปรษณีย์ บริษัทคู่ค้าผู้พัฒนาเกมของเรา บริษัทให้บริการทางการเงินหรือการชำระเงิน
        บริษัทคู่ค้าสื่อโฆษณาและการตลาด บริษัทโทรคมนาคม บริษัทสารสนเทศ และบริษัทให้บริการศูนย์ข้อมูล (data centres);
        <br>

        • หน่วยงานรัฐและหน่วยงานกำกับดูแลต่างๆ ที่มีอำนาจควบคุมกำกับดูแลเหนือ AOK
        หรือตามที่ได้รับอนุญาตตามที่ระบุไว้ในข้อ 6.2
        <br>

        • ผู้ซื้อหรือผู้สืบสิทธิอื่นๆ ในการรวมกิจการ การถอนทุนบริษัท การปรับโครงสร้าง การปรับองค์กร การเลิกกิจการ
        หรือการขายอื่นๆ หรือการโอนย้ายทรัพย์สินบางส่วนหรือทั้งหมดของ AOK
        ไม่ว่าจะเป็นธุรกิจที่ดำเนินอยู่หรือเป็นส่วนหนึ่งของการล้มละลาย การชำระบัญชี หรือกระบวนการที่คล้ายคลึงกัน
        หรือการเปลี่ยนผ่านบริการใดๆ ของเรา ซึ่งข้อมูลส่วนบุคคลที่อยู่ในครอบครองของ AOK
        เกี่ยวกับผู้ใช้ของเราจะอยู่ในทรัพย์สินที่ถูกโอนย้ายด้วย; หรือให้แก่คู่สัญญาในธุรกรรมทรัพย์สินทางธุรกิจที่
        AOK
        หรือบริษัทในกลุ่ม หรือบริษัทที่เกี่ยวข้องทำธุรกรรมด้วย ซึ่งรวมถึงบริษัทใดๆ
        ที่เข้ารับช่วงต่อหรือที่เราโอนการดำเนินการบริการใดๆ จากเรา; และ
        <br>

        • บุคคลที่สามซึ่งได้รับการเปิดเผยข้อมูลจากเราโดยวัตถุประสงค์อย่างใดอย่างหนึ่งหรือมากกว่า
        และบุคคลที่สามดังกล่าวอาจจะทำการรวบรวมและการประมวลข้อมูลส่วนบุคคลของคุณเพื่อวัตถุประสงค์อย่างใดอย่างหนึ่งหรือมากกว่า
        8.2 เราอาจเปิดเผยข้อมูลประวัติการเล่นเกมของคุณ
        และ/หรือเปิดเผยบันทึกที่แสดงการเข้าชมหรือเข้าถึงเกมและที่อยู่ไอพี
        (IP addresses) ของคุณ นอกจากนี้
        เราอาจแบ่งปันข้อมูลสถิติและข้อมูลสถิติประชากรเกี่ยวกับผู้ใช้และข้อมูลการใช้บริการของผู้ใช้ของเราให้แก่บริษัทคู่ค้าสื่อโฆษณาและบุคคลอื่นผู้ซึ่งจัดหาโฆษณา
        ทำโฆษณาแบบติดตามลูกค้า และ/หรือเขียนโปรแกรม ภายใต้กฎหมายที่บังคับใช้
        <br>

        8.3 นอกจากนี้ คุณอาจเลือกที่จะส่งออกฟีดกิจกรรมผู้ใช้ของคุณเป็นฟีด RSS
        ซึ่งสามารถสมัครติดตามโดยผู้ใช้คนอื่นได้
        ซึ่งอาจรวมถึงข้อมูลเกี่ยวกับการเล่นเกมของคุณ การติดตั้งเกม การเชื่อมต่อกับผู้ใช้อื่น
        และข้อมูลอื่นเกี่ยวกับกิจกรรมในบัญชีของคุณซึ่งจะถูกส่งออกมาเป็นฟีดในเว็บไซต์ หรือเกม
        โดยเป็นไปตามที่กล่าวข้างต้นและภายใต้กฎหมายที่บังคับใช้
        เราอาจใช้ข้อมูลส่วนบุคคลของคุณภายใต้ฐานการประมวลผลข้อมูลทางกฎหมายที่เกี่ยวข้อง
        โดยอาจอ้างอิงฐานหนึ่งหรือหลายฐานประกอบกันตามที่เกี่ยวข้องกับ “วัตถุประสงค์” ใดๆ ตามที่ระบุไว้ในข้อ 6.1
        ข้างต้น
        ซึ่งรวมถึง ฐานทางกฎหมายเพื่อการปฏิบัติหน้าที่ตามกฎหมาย ฐานสัญญาเพื่อการปฏิบัติทางสัญญากับคุณ
        เพื่อประโยชน์โดยชอบด้วยกฎหมายและเหตุผลของเราในการใช้ข้อมูลซึ่งเราจะคำนึงถึงการกระทบต่อสิทธิของคุณเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคล
        เพื่อประโยชน์อื่นใดตามที่คุณได้ให้ความยินยอมซึ่งจะได้ขอจากคุณเป็นครั้งคราวไปเมื่อจำเป็น
        หรือเมื่อจำเป็นเกี่ยวกับการร้องเรียนทางกฎหมายใดๆ
        <br>

        8.4 เพื่อมิให้เป็นข้อสงสัย ในกรณีที่กฎหมายคุ้มครองข้อมูลส่วนบุคคลหรือกฎหมายที่เกี่ยวข้องอื่นๆ
        อนุญาตให้องค์กร
        เช่น เราทำการรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของคุณโดยไม่ต้องมีความยินยอมของคุณ
        การอนุญาตดังกล่าวตามกฎหมายจะยังคงมีผลบังคับต่อไป
        <br>

        8.5 บุคคลที่สามอาจดักจับหรือเข้าถึงข้อมูลส่วนบุคคลที่ถูกส่งหรือเก็บไว้ในเว็บไซต์อย่างผิดกฎหมาย
        เทคโนโลยีอาจมีความผิดพลาดหรือไม่ทำงานตามที่คาดหวัง หรืออาจมีบุคคลเข้าถึง ละเมิดหรือใช้ข้อมูลในทางที่ผิด
        โดยไม่ใช่ความผิดพลาดของเราอย่างไรก็ตาม
        เราจะใช้มาตรการด้านความปลอดภัยที่เหมาะสมเพื่อปกป้องข้อมูลส่วนบุคคลของคุณตามที่กำหนดโดยกฎหมายคุ้มครองข้อมูลส่วนบุคคล
        อย่างไรก็ดี อาจไม่สามารถรับประกันความปลอดภัยโดยสมบูรณ์ได้ เช่น แต่ไม่จำกัดเฉพาะ
        เมื่อมีการเปิดเผยข้อมูลโดยไม่ได้รับอนุญาตจากการแฮ็คที่ซับซ้อนและประสงค์ร้ายซึ่งไม่ใช่ความผิดพลาดของเรา

    </h5>
    <h5>
        <br>

        9. ข้อมูลเกี่ยวกับเด็ก
        <br>

        9.1 บริการนี้ไม่ได้มุ่งหมายไว้ให้บริการสำหรับเด็กอายุต่ำกว่า 13 ปี
        เราจะไม่รวบรวมหรือเก็บรักษาข้อมูลส่วนบุคคลใดๆ
        หรือ ข้อมูลที่ไม่เป็นส่วนตัวที่สามารถระบุยืนยันตัวตนได้จากผู้มีอายุต่ำกว่า 13 ปี
        หรือในส่วนหนึ่งส่วนใดของเว็บไซต์ เกม หรือบริการอื่นๆ ของเราแสดงแก่พวกเขา ทั้งนี้
        ขอให้บุคคลผู้เป็นบิดามารดาหรือผู้ปกครองตามกฎหมายโปรดดูแลไม่ให้เด็กที่อยู่ภายใต้อำนาจปกครองของท่านส่งมอบข้อมูลส่วนบุคคลให้แก่
        AOK และโปรดศึกษาเงื่อนไขการให้บริการของ AOK สำหรับรายละเอียดเพิ่มเติม
        ในกรณีที่มีการส่งมอบข้อมูลส่วนบุคคลของเด็กที่มีอายุต่ำกว่า 13 ปี ซึ่งอยู่ภายใต้อำนาจปกครองของท่านให้แก่ AOK
        ถือว่าท่านยินยอมให้เราประมวลผลข้อมูลส่วนบุคคลของเด็กผู้นั้น
        และการตกลงและยอมรับของท่านจะถูกผูกพันตามเงื่อนไขที่กำหนดไว้ในนโยบายความเป็นส่วนตัวนี้ในนามของเด็กผู้นั้น
        ในกรณีที่ท่านไม่ได้ยินยอมให้ประมวลผลข้อมูลส่วนบุคคลของเด็กที่มีอายุต่ำกว่า 13 ปี
        ซึ่งอยู่ภายใต้อำนาจปกครองของท่าน โปรดติดต่อเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลของเรา
        อย่างไรก็ตามเราจะทำการปิดบัญชีที่ถูกใช้โดยเด็กดังกล่าวและจะทำการถอดถอน
        และหรือ/ลบข้อมูลส่วนบุคคลที่ถูกส่งมาโดยเด็กผู้นั้นปราศจากความยินยอมจากบุคคลผู้เป็นบิดามารดาหรือผู้ปกครองหรือเมื่อต้องปฏิบัติตามกฎหมายที่บังคับใช้

    </h5>
    <h5>
        <br>

        10. ข้อมูลที่ถูกรวบรวมโดยบุคคลที่สาม
        <br>

        10.1 เว็บไซต์และเกมของเราใช้ Google Analytics บริการวิเคราะห์สำหรับเว็บไซต์ที่ให้บริการโดยบริษัทกูเกิล
        (“กูเกิล”) Google Analytics ใช้คุกกี้ซึ่งเป็นไฟล์ข้อความที่ใส่ไว้ในอุปกรณ์ของคุณ
        เพื่อช่วยเว็บไซต์วิเคราะห์ว่าผู้ใช้เข้าใช้บริการของเราอย่างไร
        ข้อมูลที่ถูกสร้างโดยคุกกี้เกี่ยวกับการใช้บริการหรืออุปกรณ์ของคุณ (รวมไปถึงที่อยู่ไอพีของคุณ)
        จะถูกส่งให้และเก็บไว้โดยกูเกิลในเซิร์ฟเวอร์ในสหรัฐ
        กูเกิลจะใช้ข้อมูลนี้เพื่อวัตถุประสงค์ในการประเมินการใช้งานบริการของเราโดยคุณ
        สร้างรายงานเกี่ยวกับกิจกรรมในเว็บไซต์ให้ผู้ดำเนินการเว็บไซต์ และให้บริการอื่นๆ
        ที่เกี่ยวกับกิจกรรมในเว็บไซต์และการใช้งานอินเตอร์เน็ต
        กูเกิลอาจยังส่งมอบข้อมูลนี้ให้กับบุคคลที่สามตามที่กำหนดตามกฎหมาย
        หรือเมื่อบุคคลที่สามดังกล่าวประมวลข้อมูลในนามของกูเกิล
        กูเกิลจะไม่เชื่อมโยงที่อยู่ไอพีของคุณเข้ากับข้อมูลอื่นๆ
        ที่ถูกครอบครองโดยกูเกิล
        <br>

        10.2 ในบางครั้ง เรา และบุคคลที่สาม
        อาจทำให้การดาวน์โหลดแอพพลิเคชั่นซอฟท์แวร์สามารถเข้าถึงได้เพื่อการใช้งานของคุณในหรือผ่านบริการแอพพลิเคชั่นเหล่านี้อาจเข้าถึงโดยแยกจากกัน
        และให้บุคคลที่สามดูข้อมูลที่ยืนยันตัวตนได้ของคุณ เช่น ชื่อของคุณ ไอดีผู้ใช้ของคุณ
        ที่อยู่ไอพีของอุปกรณ์ของคุณ
        หรือข้อมูลอื่นๆ เช่น เกมที่คุณเล่นในช่วงเวลาหนึ่งๆ และคุกกี้ที่คุณอาจติดตั้งไว้ก่อนหน้านี้
        หรือติดตั้งให้กับคุณโดยแอพพลิเคชั่นซอฟท์แวร์หรือเว็บไซต์ของบุคคลที่สาม นอกจากนี้
        แอพพลิเคชั่นเหล่านี้อาจขอให้คุณให้ข้อมูลเพิ่มเติมโดยตรงกับบุคคลที่สาม
        ผลิตภัณฑ์หรือบริการของบุคคลที่สามที่มีให้ผ่านแอพพลิเคชั่นเหล่านี้ไม่ได้อยู่ในความครอบครองหรือการควบคุมโดย
        AOK
        เราแนะนำให้อ่านข้อตกลงและนโยบายอื่นๆ ที่ตีพิมพ์โดยบุคคลที่สามดังกล่าวในเว็บไซต์ของพวกเขาหรือที่อื่นๆ
    </h5>
    <h5>
        <br>

        11. ข้อความปฏิเสธความรับผิดชอบเกี่ยวกับความปลอดภัยและเว็บไซต์ของบุคคลที่สาม
        <br>

        11.1 เราไม่รับประกันความปลอดภัยของข้อมูลส่วนบุคคล
        และ/หรือข้อมูลอื่นที่คุณมอบให้กับเว็บไซต์ของบุคคลที่สามเราใช้มาตรการความปลอดภัยที่หลากหลายเพื่อรักษาความปลอดภัยของข้อมูลส่วนบุคคลของคุณที่อยู่ในความครอบครองของเราหรือภายใต้การควบคุมของเรา
        ข้อมูลส่วนบุคคลของคุณถูกเก็บไว้ภายในเครือข่ายที่มีความปลอดภัย
        และสามารถเข้าถึงได้โดยบุคคลไม่กี่คนที่มีสิทธิการเข้าถึงพิเศษในระบบดังกล่าว
        และจำเป็นต้องรักษาข้อมูลส่วนบุคคลเป็นความลับ เมื่อคุณทำการสั่งหรือเข้าถึงข้อมูลส่วนบุคคลของคุณ
        เรานำเสนอการใช้เซิร์ฟเวอร์ที่มีความปลอดภัย
        ข้อมูลส่วนบุคคลหรือข้อมูลที่มีความอ่อนไหวทั้งหมดที่คุณมอบให้จะถูกเข้ารหัสในฐานข้อมูลของเราเพื่อให้สามารถเข้าถึงได้ตามที่กล่าวไว้ด้านบนเท่านั้น
        <br>

        11.2 ในความพยายามที่จะมอบคุณค่าที่มากขึ้นให้กับคุณ
        เราอาจเลือกเว็บไซต์ของบุคคลที่สามจำนวนหนึ่งเพื่อเชื่อมโยงและใส่กรอบภายในเว็บไซต์ หรือเกมของเรา นอกจากนี้
        เรายังอาจเข้าร่วมในการทำแบรนด์ร่วมกันหรือความสัมพันธ์อื่นๆเพื่อนำเสนออีคอมเมิร์ซ และบริการและคุณลักษณะอื่นๆ
        แก่ผู้เข้าชมของเรา เว็บไซต์ที่ถูกเชื่อมโยงเหล่านี้มีนโยบายความเป็นส่วนตัวที่แยกและเป็นอิสระต่อกัน
        เช่นเดียวกับการจัดเตรียมด้านความปลอดภัย แม้ว่าบุคคลที่สามอยู่ในเครือของเรา
        เราไม่มีอำนาจควบคุมเว็บไซต์ที่ถูกเชื่อมโยงเหล่านี้
        แต่ละเว็บไซต์มีนโยบายแยกจากกันและการปฏิบัติในการรวบรวมข้อมูลที่เป็นอิสระจากเรา
        ข้อมูลที่ถูกรวบรวมโดยหุ้นส่วนผู้ร่วมทำแบรนด์ของเราหรือเว็บไซต์ของบุคคลที่สาม
        (แม้ว่าจะนำเสนอผ่านเว็บไซต์หรือเกมของเรา) อาจไม่ได้ถูกส่งให้กับเรา
        <br>

        11.3 ดังนั้น เราจึงไม่มีความรับผิดชอบหรือหรือความผิดสำหรับเนื้อหา การจัดเตรียมด้านความปลอดภัย
        (หรือการขาดตกบกพร่อง) และกิจกรรมต่างๆ ของเว็บไซต์ที่ถูกเชื่อมโยงเหล่านี้
        เว็บไซต์ที่ถูกเชื่อมโยงเหล่านี้มีไว้เพื่อความสะดวกของคุณเท่านั้น
        และดังนั้นคุณเข้าถึงเว็บไซต์เหล่านี้ได้ภายในความรับผิดชอบของคุณเอง ถึงอย่างไรก็ตาม
        เรามุ่งหมายที่จะปกป้องบูรณภาพของเว็บไซต์ของเราและลิงค์เชื่อมโยงที่ถูกใส่ไว้ในแต่ละเกมและเว็บไซต์
        และดังนั้นจึงยินดีรับคำติชมเกี่ยวกับเว็บไซต์ที่ถูกเชื่อมโยงเหล่านี้ (รวมไปถึง แต่ไม่จำกัดเฉพาะ เมื่อลิงค์ใดๆ
        ใช้งานไม่ได้)
    </h5>
    <h5>
        <br>

        12. AOK จะส่งข้อมูลของคุณไปยังต่างประเทศหรือไม่?
        <br>

        12.1 ข้อมูลส่วนบุคคลและ/หรือข้อมูลของคุณอาจถูกส่งไปยัง จัดเก็บ หรือประมวลผลนอกประเทศของคุณ AOK
        จะส่งข้อมูลของคุณไปต่างประเทศภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคล ทั้งนี้
        โดยการตกลงยอมรับนโยบายความเป็นส่วนตัวนี้ถือว่าคุณตกลงยินยอมให้มีการส่งข้อมูลของคุณไปยังประเทศใดๆ
        ที่บริษัทในเครือ บริษัทคู่ค้าผู้พัฒนา เซิร์ฟเวอร์และ/หรือฐานข้อมูลของเราตั้งอยู่
        ในกรณีส่วนใหญ่ข้อมูลส่วนบุคคลของคุณจะถูกประมวลผลในประเทศสิงคโปร์หรือประเทศอื่นซึ่งเป็นประเทศที่ฐานข้อมูลกลางและเซิร์ฟเวอร์ของเราปฏิบัติการ
        และเนื่องจากเขตอำนาจแต่ละประเทศอาจมีข้อกำหนดเกี่ยวกับการคุ้มครองข้อมูลที่แตกต่างกัน
        ในการนี้เราจะนำการคุ้มครองป้องกันที่เพียงพอมาใช้สำหรับปกป้องข้อมูลของคุณ
        <br>

    
    </h5>
    <h5>
        <br>

        13. คุณจะสามารถเลือกออกจากการให้ข้อมูล ถอนความยินยอม ร้องขอการเข้าถึง
        หรือแก้ไขให้ถูกต้องในข้อมูลที่คุณมอบให้กับเราได้อย่างไร?
        <br>

        13.1 การถอนความยินยอม
        <br>

        13.1.1 คุณอาจถอนความยินยอมของคุณสำหรับการเก็บรวบรวม ใช้ และ/หรือเปิดเผย หรือขอลบ
        ข้อมูลส่วนบุคคลของคุณที่อยู่ในความครอบครองของเราหรือภายใต้การควบคุมของเราโดยการบอกกล่าวให้กับเจ้าหน้าคุ้มครองข้อมูลส่วนบุคคลของเราในประเทศไทย
        ที่ info@ro-legend.com หรือส่งไปยังอีเมลที่เกี่ยวข้องตามที่ระบุในตารางด้านล่างนี้
        และเราจะดำเนินการกับคำขอของคุณตามนโยบายความเป็นส่วนตัวนี้และตามหน้าที่ของเราภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคลและกฎหมายอื่นที่บังคับใช้ตามที่เกี่ยวข้อง
        <br>

        13.1.2 อย่างไรก็ตาม การถอนความยินยอมของคุณอาจจะไม่สามารถให้บริการแก่คุณต่อไปได้
        และเราอาจต้องทำการยุติการให้บริการแก่คุณ และ/หรือสัญญาที่คุณมีกับเรา
        <br>

        13.2 การขอเข้าถึงหรือแก้ไขความถูกต้องของข้อมูลส่วนบุคคล
        <br>

        13.2.1 หากคุณมีบัญชีอยู่กับเรา
        คุณอาจเข้าถึงและ/หรือแก้ไขความถูกต้องของข้อมูลส่วนบุคคลที่อยู่ในความครอบครองหรือควบคุมของเราในขณะนี้ได้ด้วยตนเองผ่านหน้าการตั้งค่าบัญชีหรือตารางบนเว็บไซต์หรือเกม
        หากคุณไม่มีบัญชีอยู่กับเรา
        คุณอาจส่งคำร้องเพื่อเข้าถึงและ/หรือแก้ไขความถูกต้องของข้อมูลส่วนบุคคลที่อยู่ในความครอบครองหรือควบคุมของเราในขณะนี้โดยการส่งคำร้องเป็นลายลักษณ์อักษรให้กับเรา
        เราจะต้องการข้อมูลที่เพียงพอจากคุณเพื่อยืนยันข้อเท็จจริงเกี่ยวกับตัวตนของคุณ
        เช่นเดียวกับลักษณะของคำร้องของคุณเพื่อให้สามารถจัดการกับคำร้องของคุณได้ ดังนั้น
        โปรดส่งคำร้องเป็นลายลักษณ์อักษรของคุณโดยการส่งอีเมลให้กับเจ้าหน้าคุ้มครองข้อมูลส่วนบุคคลของเราที่
        info@ro-legend.com
        <br>

        13.2.2 ภายใต้กฎหมายที่บังคับใช้
        เราอาจจะทำการเก็บค่าธรรมเนียมตามที่เหมาะสมจากคุณสำหรับการจัดการและดำเนินการคำร้องของคุณเพื่อเข้าถึงข้อมูลส่วนบุคคลของคุณ
        หากเราเลือกที่จะเรียกเก็บเงิน เราจะส่งการประมาณค่าธรรมเนียมที่เราจะเรียกเก็บเป็นลายลักษณ์อักษรให้กับคุณ
        โปรดทราบว่าเราไม่จำเป็นต้องตอบกลับหรือจัดการกับคำร้องขอเข้าถึงของคุณจนกว่าคุณจะตกลงที่จะจ่ายค่าธรรมเนียม
        <br>

        13.2.3
        เราขอสงวนสิทธิ์ในการปฏิเสธที่จะแก้ไขความถูกต้องข้อมูลส่วนบุคคลของคุณตามบทบัญญัติที่กำหนดไว้ในกฎหมายคุ้มครองข้อมูลส่วนบุคคลซึ่งกำหนดและ/หรือให้สิทธิแก่องค์กรในการปฏิเสธที่จะแก้ไขความถูกต้องข้อมูลส่วนบุคคลในสถานการณ์ที่กำหนด

    </h5>
    <h5>
        <br>

        โปรดติดต่อเราทางอีเมล: info@ro-legend.com
        <br>

        ฉบับปรับปรุงวันที่ 22 กุมภาพันธ์ 2566
    </h5>
</div>



{{ end }}