{{ define "content" }}


<div class="content">
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias eius hic rem accusantium harum, nemo dolorem nobis illum sed unde blanditiis eveniet, a natus nesciunt reiciendis voluptas id sit nisi, officia fugiat vitae debitis tenetur doloribus. Facilis doloremque tempora reiciendis. Deleniti provident doloremque tempora porro, voluptatum aut, repellat fugiat, molestiae dignissimos ex molestias quo aliquam dicta hic. Expedita repudiandae enim minima praesentium, reprehenderit adipisci, et soluta laborum, quas sapiente at? Totam, nemo, quidem eligendi ullam eum laborum delectus dolore enim voluptatum expedita consequuntur vel explicabo veritatis ratione, reprehenderit unde excepturi nesciunt atque. Perspiciatis eligendi esse et! Inventore rem suscipit dignissimos?</h1>
</div>



{{ end }}