{{ define "content" }}


<nav class="bg-[url('/public/data/img/LOGIN-BG.png')] bg-top bg-no-repeat bg-black">

    <section class="flex justify-center">
        <div class="w-[80%] h-[740px] bg-[#141414AB] mt-5 relative flex justify-center rounded-3xl">
            <div class="w-[100%] md:w-[70%] md:h-full pt-[10px] md:py-[60px]">
                <div
                    class="flex justify-center items-center h-full bg-[#0000004D] backdrop-blur-xl rounded-3xl outline outline-offset-0 outline-1 outline-[#fcbd00a6]">

                    <div class="w-[85%] rounded-3xl overflow-auto">

                        <div class="flex justify-center">
                            <div
                                class="text-center w-[540px] h-[422px] bg-[url('/public/data/img/old_paper.png')] bg-center bg-no-repeat  flex flex-col justify-center items-center text-[40px] font-bold text-[#006717]">
                                <p>บัญชีผู้ใช้งานถูกลบ<br>เรียบร้อยแล้ว</p>
                             
                                <a href="/">
                                    <div
                                        class="bg-[url('/public/data/img/BTN_ENTY.png')] w-[247px] h-[64px] bg-no-repeat bg-contain bg-center text-lg font-bold flex justify-center items-center">
                                        <p>กลับสู่หน้าแรก</p>

                                    </div>
                                </a>

                            </div>
                        </div>

                    </div>



                </div>
            </div>




            <img src="/public/data/img/new-l-t.png" alt="" class="hidden md:block absolute left-0 top-0 p-3">
            <img src="/public/data/img/new-l-b.png" alt="" class="hidden md:block absolute left-0 bottom-0 p-3">
            <img src="/public/data/img/new-r-t.png" alt="" class="hidden md:block absolute right-0 top-0 p-3">
            <img src="/public/data/img/new-r-b.png" alt="" class="hidden md:block absolute right-0 bottom-0 p-3">



        </div>
    </section>



    <div class="pb-20"></div>
</nav>


{{ end }}