{{ define "content" }}


<nav class="bg-[url('/public/data/img/LOGIN-BG.png')] bg-top bg-no-repeat bg-black">

    <section class="flex justify-center">
        <div class="w-[80%] h-[740px] bg-[#141414AB] mt-5 relative flex justify-center rounded-3xl">
            <div class="w-[100%] md:w-[70%] md:h-full pt-[10px] md:py-[60px]">
                <div
                    class="flex justify-center items-center h-full bg-[#0000004D] backdrop-blur-xl rounded-3xl outline outline-offset-0 outline-1 outline-[#fcbd00a6]">

                    <div class="w-[85%] rounded-3xl overflow-auto">

                        <!-- ลบ บช. -->
                        <div id="profile_page2" class="">

                            <form action="/profile/delete" method="post">
                                <p class="px-5 text-white">

                                    ผู้เล่นที่มีความต้องการลบบัญชีเกม Age of Khagan
                                    <br>
                                    ของตนเองโดยมาตรฐานแล้วสามารถทำขั้นตอนการดำเนินการลบบัญชีมีดังต่อไปนี้
                                    <br>

                                    <br>
                                    1. login ผ่านทางเว็บไซต์ https://www.ageofkhaganth.com
                                    <br>
                                    2. เลือกเมนู My Profile
                                    <br>
                                    3. ลบบัญชี ผู้ใช้งาน
                                    <br>
                                    4. ยอมรับเงื่อนไข ข้อตกลงความเป็นส่วนตัว และ เงื่อนไขการให้บริการ
                                    <br>
                                    5. ลบบัญชี
                                    <br>

                                    <br>
                                    หลังจากทำการลบบัญชีเรียบร้อยแล้ว
                                    <br>
                                    ข้อมูลในบัญชีของผู้เล่นจะถูกลบออกอย่างถาวรและไม่สามารถกู้คืนข้อมูลได้อีก
                                    <br>
                                    <br>

                                    <span class="text-xl font-bold"> ลบบัญชี ผู้ใช้งาน</span>
                                    <br>
                                    ท่านแน่ใจหรือไม่ว่าต้องการลบบัญชีใช้งานของท่านออกจากระบบ
                                    หลังจากลบออกแล้วท่านจะไม่สามารถใช้งานบัญชีใช้งานนี้ได้อีก
                                    <br>

                                </p>
                                <div class="px-5 text-white flex mt-5">
                                    <input class="w-5" type="checkbox" name="checkbox" id="" required>
                                    <div class="pl-3">
                                        I agree
                                        <span> <a style="color: rgb(216, 124, 11);" class="text-blue-400" href="/privacypolicy">Privacy Policy</a> and <a style="color: rgb(216, 124, 11);" class="text-blue-400"
                                                href="/service">Service Agreement</a></span>
                                        <br>
                                        <span>ฉันยอมรับ ข้อตกลงความเป็นส่วนตัว และ เงื่อนไขการให้บริการ</span>
                                    </div>
                                </div>
                                <button
                                    class="px-5 bg-[url('/public/data/img/changepass-btn.png')] md:w-[310px] md:h-[80px] bg-no-repeat bg-contain bg-center text-lg font-bold mb-3"
                                    type="submit">ลบบัญชี</button>
                            </form>

                        </div>

                    </div>



                </div>
            </div>




            <img src="/public/data/img/new-l-t.png" alt="" class="hidden md:block absolute left-0 top-0 p-3">
            <img src="/public/data/img/new-l-b.png" alt="" class="hidden md:block absolute left-0 bottom-0 p-3">
            <img src="/public/data/img/new-r-t.png" alt="" class="hidden md:block absolute right-0 top-0 p-3">
            <img src="/public/data/img/new-r-b.png" alt="" class="hidden md:block absolute right-0 bottom-0 p-3">



        </div>
    </section>



    <div class="pb-20"></div>
</nav>


{{ end }}