{{ define "content" }}

<style>
    * {
        margin: 0;
        box-sizing: border-box;
    }

    .container-bg {
        height: 1678px;
        /* padding-top: 10px; */
        margin-top: 10px;
        background-image: url("/public/data/BG/contentBlock-bg.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-attachment: fixed; */
      
    }
    .box1{
        border: 1px solid #000;
    }
</style>


<div class="container">
    <div class="container-bg">
        <div class="box1">
            <h6>rankings</h6>
        </div>

    </div>
</div>



{{ end }}