{{ define "content" }}

<nav class="bg-[url('/public/data/img/REGISTER-BG.png')] bg-top bg-no-repeat bg-black">

    <section class="flex justify-center">
        <div class="h-[839px] w-[638px] bg-[#141414AB] mt-5 relative flex justify-center">

            <div class="w-[80%]">
                <div>
                    <div class="relative">
                        <div class="text-2xl font-extrabold text-white pt-4 text-center">
                            Register/สมัคร
                        </div>
                        <div class="ranking-hi w-[177px] mx-auto"></div>
                        <hr>

                        <div class="pt-10">
                            <form action="/auth/customregis">
                                <div class="mb-5">
                                    <label class="font-medium text-[18px] text-white block mb-2" for="username">
                                        Player/Username <br> <span class="text-[12px]"> (ระบุบ 6-12 ตัวอักษร)</span>
                                    </label>
                                    <input
                                        class="text-white min-w-full h-[70px] px-5 rounded-xl bg-[#00000080] outline outline-offset-0 outline-1 outline-[#FFC117]"
                                        id="username" name="username" value="{{ .data.Username }}" type="text"
                                        placeholder="Enter your player/username" required maxlength="12" minlength="6">
                                </div>

                                <div class="mb-6">
                                    <label class="font-medium text-[18px] text-white block mb-2" for="email">
                                        Email
                                    </label>
                                    <input
                                        class="text-white min-w-full h-[70px] px-5 rounded-xl bg-[#00000080] outline outline-offset-0 outline-1 outline-[#FFC117]"
                                        id="email" type="email" name="email" value="{{ .data.Email }}"
                                        placeholder="Enter your Email" required>
                                </div>

                                <div class="md:flex justify-between">
                                    <div>
                                        <label class="font-medium text-[18px] text-white block mb-2" for="password">
                                            Password <br> <span class="text-[12px]"> (ระบุบ 6-12 ตัวอักษร)</span>
                                        </label>
                                        <input
                                            class="text-white min-w-full h-[70px] px-5 rounded-xl bg-[#00000080] outline outline-offset-0 outline-1 outline-[#FFC117]"
                                            id="password" name="password" type="password" value="{{ .data.Password }}"
                                            placeholder="Enter Password" required maxlength="12" minlength="6">
                                    </div>

                                    <div>
                                        <label class="font-medium text-[18px] text-white block mb-2" for="repassword">
                                            Confirm Password <br> <span class="text-[12px]"> (ระบุบ 6-12
                                                ตัวอักษร)</span>
                                        </label>
                                        <input
                                            class="text-white min-w-full h-[70px] px-5 rounded-xl bg-[#00000080] outline outline-offset-0 outline-1 outline-[#FFC117]"
                                            id="repassword" name="repassword" value="{{ .data.Repassword }}"
                                            type="password" placeholder="Enter Confirm Password" required maxlength="12"
                                            minlength="6">

                                    </div>
                                </div>


                                <div class="text-white flex mt-5">
                                    <input class="w-5" type="checkbox" name="checkbox" id="" required>
                                    <div class="pl-3">
                                        I agree
                                        <span> <a style="color: rgb(71, 76, 206);" href="/privacypolicy">Privacy
                                                Policy</a> and <a style="color: rgb(71, 76, 206);"
                                                href="/service">Service
                                                Agreement</a></span>
                                        <br>
                                        <span>ฉันยอมรับ ข้อตกลงความเป็นส่วนตัว และ เงื่อนไขการให้บริการ</span>
                                        <br>
                                        <span>ฉันมีอายุอย่างน้อย 13 ปีขึ้นไป และยอมรับข้อตกลงความเป็นส่วนตัว และเงื่อนไขการให้บริการ</span>
                                    </div>

                                </div>


                                <div class="text-center md:mt-[20%]">
                                    <p class="text-amber-400 text-lg font-bold">{{ .name }}</p>
                                    <button class="bg-[url('/public/data/img/btn_register.png')] w-[310px] h-[80px]"
                                        type="submit"></button>
                                    <br>
                                    <a class="font-medium text-[18px] text-white underline"
                                        href="/singin">Login/เข้าสู่ระบบ</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {{ if eq .message "open" }}
                <div class="absolute top-[25%]">
                    <div
                        class="text-center w-[540px] h-[422px] bg-[url('/public/data/img/old_paper.png')] bg-center bg-no-repeat  flex flex-col justify-center items-center text-[40px] font-bold text-[#006717]">
                        <p>Register success <br> สมัคสมาชิกสำเร็จ</p>
                        <!-- <a href="/home">
                            <img src="/public/data/img/close-btn.png" alt="">
                        </a> -->
                        <div
                            class="bg-[url('/public/data/img/BTN_ENTY.png')] w-[247px] h-[64px] bg-no-repeat bg-contain bg-center text-lg font-bold flex justify-center items-center">

                            <a href="/home">เข้าสู่เว็บไซต์</a>
                        </div>

                    </div>
                </div>
                {{ end }}

            </div>

            <img src="/public/data/img/new-l-t.png" alt="" class="absolute left-0 top-0 p-3">
            <img src="/public/data/img/new-l-b.png" alt="" class="absolute left-0 bottom-0 p-3">
            <img src="/public/data/img/new-r-t.png" alt="" class="absolute right-0 top-0 p-3">
            <img src="/public/data/img/new-r-b.png" alt="" class="absolute right-0 bottom-0 p-3">

        </div>
    </section>


    <div class="pb-20"></div>
</nav>

{{ end }}