{{ define "content" }}

<style>
    .iio{
        width: 70%;
    }
</style>

<div class="containernk-footer">

    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-5 text-center">

            <img class="img-fluid p-10 iio" src="/public/data/รวมไฟล์ 2D by มีน/4k  background/background 3.png" alt="">
            <div class="nk-gap"></div>
           
         
            <h2 class="text-main-6">{{ .detail }}</h2>
            <h5 class="text-main-6">{{ .channel }}</h5>
            <h5 class="text-main-6">{{ .amount }} {{ .currency }}</h5>
            <div class="nk-gap"></div>
         
            

            <!-- <p>{{ .txid }}</p>
            <p>{{ .orderid }}</p>
            <p>{{ .status }}</p>
            <p>{{ .sig }}</p> -->
        </div>
    </div>
</div>

{{ end }}