{{ define "content" }}


<nav class="bg-[url('/public/data/img/TOPUP_BG.png')] bg-top bg-no-repeat bg-black">

    <section class="flex justify-center">
        <div class="h-[1153px] w-[638px] bg-[#141414AB] mt-5 relative flex justify-center">
            <!--  -->
            <div class="w-[80%]">

                <div class="text-2xl font-extrabold text-white pt-4 text-center">
                    Store/ร้านค้า
                </div>
                <div class="ranking-hi w-[177px] mx-auto"></div>
                <hr>

                <form action="/topups/point" method="post" class="pt-10">

                    <!-- เช็ค  user -->
                    <div class="mb-5">
                        <label class="font-medium text-[18px] text-white block mb-2" for="username">
                            1.Player/Username
                        </label>
                        <div class="flex justify-between gap-3">
                            <input
                                class="font-bold text-center text-main w-full h-[70px] px-5 rounded-xl bg-[#00000080] outline outline-offset-0 outline-1 outline-[#FFC117]"
                                id="username" name="username" type="text" value="{{ .user.Username }}"
                                placeholder="Enter your player/username" required readonly>

                            <a href="#"
                                class="text-black bg-[#FFC117] w-[130px] h-[70px] rounded-xl flex items-center justify-center text-center">

                                Check <br> ตรวจสอบ

                            </a>

                        </div>
                    </div>

                    <!-- เลือกจำนวนเงินที่เติม -->
                    <div class="text-white">

                        <p>2.Choose item/เลือกไอเท็ม</p>

                        <div class="grid grid-cols-2 gap-1">

                            <div>
                                <input type="radio" name="price" id="1" value="50THB" class="peer hidden" required />
                                <label for="1"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-between items-center p-4">
                                        <div class="flex items-center">
                                            <img src="/public/data/img/gold.png" alt="">
                                            50
                                        </div>
                                        <div class="text-[#FFFFFF4D]">
                                            ฿50
                                        </div>
                                    </div>

                                </label>
                            </div>

                            <div>
                                <input type="radio" name="price" id="2" value="100THB" class="peer hidden" required />
                                <label for="2"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-between items-center p-4">
                                        <div class="flex items-center">
                                            <img src="/public/data/img/gold.png" alt="">
                                            100
                                        </div>
                                        <div class="text-[#FFFFFF4D]">
                                            ฿100
                                        </div>
                                    </div>

                                </label>
                            </div>

                            <div>
                                <input type="radio" name="price" id="3" value="300THB" class="peer hidden" required />
                                <label for="3"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-between items-center p-4">
                                        <div class="flex items-center">
                                            <img src="/public/data/img/gold.png" alt="">
                                            300
                                        </div>
                                        <div class="text-[#FFFFFF4D]">
                                            ฿300
                                        </div>
                                    </div>

                                </label>
                            </div>

                            <div>
                                <input type="radio" name="price" id="4" value="500THB" class="peer hidden" required />
                                <label for="4"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-between items-center p-4">
                                        <div class="flex items-center">
                                            <img src="/public/data/img/gold.png" alt="">
                                            500
                                        </div>
                                        <div class="text-[#FFFFFF4D]">
                                            ฿500
                                        </div>
                                    </div>

                                </label>
                            </div>

                            <div>
                                <input type="radio" name="price" id="5" value="1000THB" class="peer hidden" required />
                                <label for="5"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-between items-center p-4">
                                        <div class="flex items-center">
                                            <img src="/public/data/img/gold.png" alt="">
                                            1,000
                                        </div>
                                        <div class="text-[#FFFFFF4D]">
                                            ฿1,000
                                        </div>
                                    </div>

                                </label>
                            </div>

                            <div>
                                <input type="radio" name="price" id="6" value="3000THB" class="peer hidden" required />
                                <label for="6"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-between items-center p-4">
                                        <div class="flex items-center">
                                            <img src="/public/data/img/gold.png" alt="">
                                            3000
                                        </div>
                                        <div class="text-[#FFFFFF4D]">
                                            ฿3,000
                                        </div>
                                    </div>

                                </label>
                            </div>

                            <div>
                                <input type="radio" name="price" id="7" value="5000THB" class="peer hidden" required />
                                <label for="7"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-between items-center p-4">
                                        <div class="flex items-center">
                                            <img src="/public/data/img/gold.png" alt="">
                                            5,000
                                        </div>
                                        <div class="text-[#FFFFFF4D]">
                                            ฿5,000
                                        </div>
                                    </div>

                                </label>
                            </div>

                            <div>
                                <input type="radio" name="price" id="8" value="10000THB" class="peer hidden" required />
                                <label for="8"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-between items-center p-4">
                                        <div class="flex items-center">
                                            <img src="/public/data/img/gold.png" alt="">
                                            10,00
                                        </div>
                                        <div class="text-[#FFFFFF4D]">
                                            ฿10,000
                                        </div>
                                    </div>

                                </label>
                            </div>

                        </div>
                    </div>

                    <!-- เลือกช่องทางการชำระ -->
                    <div class="text-white pt-5">
                        <p>3.Choose Payment/เลือกช่องทางการชำระ</p>

                        <div class="grid grid-cols-2 gap-1">

                            <div>
                                <input type="radio" name="channel" id="channel1" value="truewallet" class="peer hidden"
                                    required />
                                <label for="channel1"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-start items-center p-4">
                                        <div class="flex items-center gap-3">
                                            <img src="/public/data/img/true-money.png" alt="">
                                            Truemoney Wallet
                                        </div>
                                    </div>
                                </label>
                            </div>

                            <div>
                                <input type="radio" name="channel" id="channel2" value="bay" class="peer hidden"
                                    required />
                                <label for="channel2"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-start items-center p-4">
                                        <div class="flex items-center gap-3">
                                            <img src="/public/data/img/BAY.png" alt="">
                                            Krungsri
                                        </div>

                                    </div>
                                </label>
                            </div>

                            <div>
                                <input type="radio" name="channel" id="channel3" value="bbl" class="peer hidden"
                                    required />
                                <label for="channel3"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-start items-center p-4">
                                        <div class="flex items-center gap-3">
                                            <img src="/public/data/img/BBL.png" alt="">
                                            Bangkok Bank
                                        </div>

                                    </div>
                                </label>
                            </div>

                            <div>
                                <input type="radio" name="channel" id="channel4" value="ktb" class="peer hidden"
                                    required />
                                <label for="channel4"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-start items-center p-4">
                                        <div class="flex items-center gap-3">
                                            <img src="/public/data/img/KTB.png" alt="">
                                            Krung Thai Bank
                                        </div>

                                    </div>
                                </label>
                            </div>

                            <div>
                                <input type="radio" name="channel" id="channel5" value="scb" class="peer hidden"
                                    required />
                                <label for="channel5"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-start items-center p-4">
                                        <div class="flex items-center gap-3">
                                            <img src="/public/data/img/SCB.png" alt="">
                                            Siam Commercial Bank
                                        </div>

                                    </div>
                                </label>
                            </div>

                            <div>
                                <input type="radio" name="channel" id="channel6" value="kbank" class="peer hidden"
                                    required />
                                <label for="channel6"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-start items-center p-4">
                                        <div class="flex items-center gap-3">
                                            <img src="/public/data/img/KBANK.png" alt="">
                                            Kasikorn Bank
                                        </div>

                                    </div>
                                </label>
                            </div>

                            <div>
                                <input type="radio" name="channel" id="channel7" value="promptpay" class="peer hidden"
                                    required />
                                <label for="channel7"
                                    class="block cursor-pointer select-none rounded-xl text-center peer-checked:bg-[#FFC11780] peer-checked:font-bold peer-checked:text-white">
                                    <div
                                        class="w-full h-[70px] bg-[#00000080] rounded-lg flex justify-start items-center p-4">
                                        <div class="flex items-center gap-3">
                                            <img class="rounded-full" src="/public/data/img/payment.png" alt="">
                                            QR Promptpay
                                        </div>

                                    </div>
                                </label>
                            </div>

                        </div>

                    </div>


                    <div class="text-center mt-[20%] md:mt-[20%]">
                        <p class="text-amber-400 text-lg font-bold">{{ .message }}</p>
                        <button class="bg-[url('/public/data/img/pay-btn.png')] w-[310px] h-[80px]"
                            type="submit"></button>
                    </div>


                </form>

                <img src="/public/data/img/new-l-t.png" alt="" class="absolute left-0 top-0 p-3">
                <img src="/public/data/img/new-l-b.png" alt="" class="absolute left-0 bottom-0 p-3">
                <img src="/public/data/img/new-r-t.png" alt="" class="absolute right-0 top-0 p-3">
                <img src="/public/data/img/new-r-b.png" alt="" class="absolute right-0 bottom-0 p-3">

            </div>

            {{ if eq .ff "ok" }}

            <section class="absolute top-[7%] w-[440px] h-[600px] bg-[url('/public/data/img/RECEIPT.png')] bg-center bg-no-repeat">

                <div class="w-[60%] mx-auto">

                    <p class="pt-32 text-center uppercase text-[32px] font-extrabold text-[#006717]">{{ .detail }}</p>

                    <div>
                        <div class="flex justify-between font-bold py-3">
                            <p>Amount</p>
                            <p>{{ .amount }}{{ .currency }}</p>
                        </div>
                        <div class="flex justify-between font-bold py-3">
                            <p>Channel</p>
                            <p>{{ .channel }}</p>
                        </div>
                 
                    </div>

                    <a href="/" class="text-center"><img src="/public/data/img/close-btn.png" alt=""></a>
                </div>


            </section>

            {{ end }}
    </section>


    <div class="pb-20"></div>
</nav>



{{ end }}