{{ define "content" }}

<div class="container p-10 nk-footer">

    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-5 text-center">

            <img class="rounded mx-auto d-block" src="/public/data/imgtopup/Success.png" alt="">

            <h2 class="text-main-6">{{ .sum }}</h2>
         
            <h3 class="text-main-6">{{ .detail }}</h3>
            <h3 class="text-main-6">{{ .channel }}</h3>
            <h3 class="text-main-6">{{ .amount .currency }}</h3>
   
         
            

            <!-- <p>{{ .txid }}</p>
            <p>{{ .orderid }}</p>
            <p>{{ .status }}</p>
            <p>{{ .sig }}</p> -->
        </div>
    </div>
</div>

{{ end }}